*{
	margin: 0;
	padding: 0;
}
.aaa{
	position: absolute;
	width: 400px;
	height: 200px;
	background-color: #ccc;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -200px;
}
.left1{
	width: 50px;
	height: 50px;
	border-radius: 0 0 50px 0;
	position: absolute;
	background-color: #fc0;
}
.right2{
	width: 50px;
	height: 50px;
	border-radius:50px 0 0 0;
	position: absolute;
	background-color: #fc0;
	right: 0;
	bottom: 0;
}