body{
  padding: 20px;
}
.container {
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.item {
  flex: 0 0 auto;
  width: 150px;
  border: 1px solid #f00;
}
.item1 {
   height: 120px;
}
.item2 {
  height: 100px;
}
.item3 {
  height: 40px;
}
.item4 {
  height: 200px;
  border-color: #0f0;
}
@media screen and (max-width: 640px) {
.container {
  display: flex;
  align-items: flex-start;
   flex-wrap: wrap;
}
.item4 {
  order: -1;
}
}