body,p,h1,h2,h3{margin: 0;padding: 0;}
body{padding: 20px;}
img{vertical-align: top;border: none;}
.clear{zoom: 1;}
.clear:after{content: "";display: block;clear: both;}
.wrap{margin: 20px;padding: 20px;background: #eee;border: 1px solid black;}
.left{  float: left;padding: 20px;width: 160px;background: #fff;border: 1px solid #999;}
.teamname{float: left;  font-size: 13px; font-weight: bold;width: 80px;text-align: center;}
.left .teamlogo{float: left;}
.right{padding: 20px;border: 1px solid black;float:right;background: white;width: 80px;}
.middle{ background: #fff;border: 1px solid black;padding: 20px;margin: 0 140px 0 240px;}
.middle h3{margin: 20px 0;}
