body{padding: 0;margin: 0;}
.main{width: 400px;height: 200px;background: #ccc;position: absolute;top: 50%;margin-top: -100px;left: 50%;margin-left: -200px;overflow: hidden;}
.left-top-area{width: 100px;height: 100px;border: 50%;background: #fc0;position: absolute;top: -50px;left: -50px;}
.right-bottom-area{width: 100px;height: 100px;border: 50%;background: #fc0;position: absolute;top: 150px;left: 350px;}
