body,html{margin:0;padding:0}
.box1,.box2,.box3,.box4{width:150px;border:1px solid #f00}
.box1{height:120px}
.box2{height:100px}
.box3{height:40px}
.box4{height:200px;border:1px solid #0f0}
.container{margin:20px;
		   display: flex;
		   flex-flow: row wrap;
		   justify-content: space-between;
		   align-items: center;
}
.container div{margin-bottom:20px}	
@media(max-width:640px){.container{align-items:flex-start}
						.box4{order: -1}		
}