@charset "utf-8";
/* CSS Document */

body { border:1px solid #999; width:960px; height:500px; position:relative; }

#main-frame { display:block; position:absolute; top:50%; left:50%; }
.frame { width:400px; height:200px; background:#CCC; margin-top:-100px; margin-left:-200px; position:relative; }
.bg-2 { display:block; position:absolute; right:0px; bottom:0px; }




