@charset "utf-8";
/* CSS Document */

#mainBody {
	width: 98%;
	padding: 20px;
	margin: 20px auto;
	background-color: #eee;
	border: 1px solid #999;
	min-height: 430px;
}

#left {
	width: 200px;
	height: 120px;
	background-color: white;
	float: left;
	border: 1px solid #999;
}

#left img {
	border: 1px solid #999;
	margin-top: 20px;
	margin-left: 20px;
}

#left span {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

#mid {
	padding: 20px;
	margin-left: 220px;
	margin-right: 140px;
	border: 1px solid #999;
	background-color: white;
}

#right {
	float: right;
	width: 120px;
	padding-bottom: 20px;
	border: 1px solid #999;
	background-color: white;
}

#right img {
	border: 1px solid #999;
	display: block;
	margin-top: 20px;
	margin-left: 20px;
}