body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,filedest,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
#header{
    background-color:#F2EAD3;
    height:276px;
}
#header #header_left{
    float:left;
}
#header #header_right{
    float:right;
    margin-top:3px;
}
#header .header_middle1{
    font-size:40px;
    font-weight:bold;
    font-family:Verdana;
    color:#683531;
    letter-spacing:2px;
    text-align:center;
    padding-top:90px;
}
#content{
    clear:both;
}
#content .content_top nav ul li a{
    display:inline-block;
    float:left;
    margin:5px 10px;
    padding:10px;
    font-size:12px;
    font-weight:bold;
    color:#683531;
}
#content .content_top{
    width:100%;
    display:inline-block;
    background:#F7E8C3;
}
body{
    background:#F2EAD3;
}
#content #table {
    diaplay:table-row;
    border-spacing:10px;
}
#content #table .content_left,.content_middle,.content_right{
    display:table-cell;
    background-color:#efe5d0;
}
#content #table .content_left {
    width:20%;
}
#content #table .content_middle{
    width:60%;
}
#content #table .content_right{
    margin:0 500px;
}
h1{
    font-size:165%;
    color:#954b4b;
    font-family:Verdana;
    font-weight:bold;
    margin:20px 5px;
    padding:4px;
    text-align:center;
}
p{
    color:#683531;
    font-size:14px;
    margin:10px;
    padding:5px;
    text-align:center;
}
#article p{
    margin:15px;
    padding:5px;
}
footer{
    background-color:#F7E8C3;
    color:#683531;
    text-align:center;
    padding:18px;
    margin:20px;
    font-size:12px;
}
section#left{
    position:absolute;
    left:2px;
}
#content .content_middle article img{
    margin:0 300px;
}
#content .content_right aside img{
    margin:0 50px;
}
#content .content_middle article time{
    text-align:center;
}
#content .content_top nav ul li a:hover{
    color:#8C2057;
    text-decoration:underline;
}