body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,img,div,dd,dt,dl,input{margin:0;padding:0;font-family:arial}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
a{text-decoration:none;}
a:hover {text-decoration:none;}
body{
    background:#fff url(images/body_background.png) repeat-x;
}
/*顶部开始*/
#top{
    width:960px;
    height:30px;
    margin:0 auto;
}
.top_left{
    float:left;
}
.top_left li{
    float:left;
    background:url(images/dot.png) no-repeat 4px 12px;
}
.top_left a{
    color:#c0c0c0;
    display:block;
    margin:6px 10px;
}
.top_left a:hover{
    text-decoration:underline;
    color:#fff;
}
.top_left .no_img {
    background:none;
}
/*顶部的右半部份开始*/
.top_right li{
    float:right;
}
#top .top_right li a{
    float:right;
    color:#fff;
    display:block;
    margin:6px 30px;
    padding-left:8px;
}
.top_right .phone{
    background:url(images/phone.png) no-repeat;
}
.top_right .help{
    background:url(images/help.png) no-repeat -2px 2px;
}
#top .top_right img{
    float:right;
    margin-top:8px;
    padding-left:12px;
}
#top .top_right li a:hover{
    text-decoration:underline;
}
/*header从此开始*/
#header{
    width:960px;
    height:100px;
    margin:0 auto;
    position:relative;
    background:url(images/light.png) no-repeat;
}
#header_left{
    width: 300px;
    height:200px;
    position:relative;
}
#header_left a{
    display:block;
    width:120px;
    height:37px;
    background:url(images/buttom.png) no-repeat ;
    position:absolute;
    bottom:35px;
    left:110px;
    font-size:15px;
    color:#ffc200;
    text-decoration:none;
    font-weight:bold;
    text-align:center;
    line-height:22px;
    padding-top:5px;
}
#header_left p{
    color:#f7f7f7;
    font-size:20px;
    font-weight:bold;
    font-family:Arial;
    padding:29px 34px 84px 84px;
    background:url(images/bag.png) no-repeat;
}
#header_left a:hover{
    color:#ffe388;
}
/*header_left结束啦*/
#header h1{
    width:238px;
    position:absolute;
    top:0px;
    left:50%;
    margin-left:-119px;
}
.search {
    width:292px;
    height:31px;
    background:url(images/header_right.png) no-repeat;
    position:absolute;
}
.search .text1{
    position:absolute;
    top:0;
    left:20px;
    width:230px;
    height:30px;
    background:none;
    border:none;
    font-size:13px;
    color:#666;
    outline:none;
}
.search .submit{
    position:absolute;
    top:0px;
    right:0px;
    width:42px;
    height:30px;
    background:none;
    border:none;
}
#header .search{
    top:32px;
    right:0px;
}
#nav{
    width:960px;
    height:44px;
    padding-top:8px;
    margin:0 auto;
}
#nav li{
    float:left;
    height:28px;margin-right:2px;
}
#nav a{
    display:block;
    float:left;
    height:28px;
    font-size:16px;
    font-family:Arial;
    color:#fff;
    text-decoration:none;
}
#nav strong
{
    float:left;
    font-weight:normal;
    height:20px;
}
#nav span{
    float:left;
    height:16px;
    padding:6px 16px;
}
#nav a:hover,#nav .home a {
    background:url(images/button_all.png) repeat-x 0 -56px;
}
#nav a:hover strong,#nav .home strong{
    background:url(images/button_all.png) no-repeat;
}
#nav a:hover span,#nav .home span{
    background:url(images/button_all.png) no-repeat right -28px;
}
/*内容部分开始*/
#content{
    width:1000px;
    margin:0px auto;
    background:url(images/content_middle.png) repeat-y;
}
#content_top{
    width:1000px;
    background:url(images/content_top.png) no-repeat;
}
#content_bottom{
    width:1000px;
    background:url(images/content_bottom.png) no-repeat 0 bottom;
    padding-top:10px;
}
#ad{
    width:940px;
    height:300px;
    position:relative;
    margin:0 auto;
}
#ad ul{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
#ad li{
    position:absolute;
    top:0;
    left:0;
}
#ad h2{
    position:absolute;
    left:0;
    bottom:10px;
    z-index:3;
    width:268px;
    text-align:center;
    font-size:25px;
    font-weight:bold;
    color:#ffc600;
}
#ad p{
    position:absolute;
    left:268px;
    bottom:7px;
    z-index:3;
    color:#fcc;
    font-size:13px;
    line-height:16px;
    width:630px;
}
#ad .bg{
    width:923px;
    height:52px;
    background:#000;
    filter:alpha(opacity:80);/*IE浏览器*/
    opacity:0.8;/*其他浏览器*/
    position:absolute;
    bottom:0;
    left:10px;
    z-index:2;
}
#main{
    width:942px;
    margin:0 auto;
    padding-top:30px;
}
#side{
    width:209px;
    float:left;
}
#wrap{
    width:706px;
    float:right;
}
.clear{
    content:'';
    display:block;
    clear:both;
}
.module_menu{
    margin-bottom:13px;
}
.module_menu h2{
    height:29px;
    font-size:15px;
    color:#fff;
    line-height:28px;
    text-align:center;
    background:url(images/list_top_middle.png) repeat-x;
    margin-bottom:1px;
}
.module_menu h2 strong{
    display:block;
    height:29px;
    background:url(images/list_top_left.png) no-repeat;
}
.module_menu h2 span{
    display:block;
    height:29px;
    background:url(images/list_top_right.png) no-repeat right 0;
}
.list{
    background:url(images/list_middle.png) repeat-y;
}
.list ul{
    background:url(images/list_bottom.png) no-repeat 0 bottom;
    padding:18px 8px 15px;
}
.list a{
    display:block;
    height:27px;
    line-height:27px;
    border-bottom:1px solid #fff;
    color:#434343;
    text-decoration:none;
    font-weight:bold;
    font-size:12px;
    padding-left:32px;
}
.list a:hover{
    color:#b20e00;
    border-bottom:1px solid #b20e00;
    background:#fae191;
}
.module_join{
    width:209px;
    background:url(images/join_middle.png) repeat-y;
}
.module_join_t{
    background:url(images/join_top.png) no-repeat;
}
.module_join_b{
    background:url(images/join_bottom.png) no-repeat 0 bottom;
}
.Join_form p{
    font-size:15px;
    color:#666;
    line-height:18px;
    padding:12px 0px;
}
.Join_form{
    width:180px;
    margin:0 auto 12px;
}
.Join_form .text{
    width:175px;
    height:25px;
    line-height:25px;
    background:#fff;
    border-top:1px solid #9c9c9c;
    border-right:1px solid #fff;
    border-left:1px solid #c0c0c0;
    border-bottom:1px solid #fff;
    margin-bottom:8px;
}
.Join_form .btn{
    width:88px;
    height:25px;
    border:none;
    font-size:15px;
    font-weight:bold;
    color:#fff;
    display:block;
    margin:0 auto;
    background:url(images/joinus_bottom.png) no-repeat;
}
.join_list{
    background:url(images/join_list_four.png) no-repeat 10px 12px;
    width:193px;
    margin:0 auto;
}
.join_list li{
    border-top:1px solid #fff;
    padding-left:62px;
    font-size:13px;
    color:#434343;
}
.space1{
    margin-top:12px;
    height:49px;
    line-height:45px;
}
.space2{
    height:43px;
    padding-top:7px;
    line-height:18px;
}
.space3{
    height:40px;
    padding-top:7px;
    line-height:18px;
}
.space4{
    height:50px;
    padding-top:8px;
    line-height:18px;
}
#payment{
    margin-top:33px;
}

.sort {
    height:19px;
}
.sort dl{
    float:left;
}
.sort dt{
    float:left;
    font-size:12px;
    color:#747474;
    font-weight:bold;
    padding-right:2px;
}
.sort dd{
    float:left;
    width:109px;
    height:19px;
    position:relative;
    margin-right:12px;
}
.sort h2{
    width:107px;
    height:17px;
    border:1px solid #ccc;
    font-size:12px;
    color:#747474;
    font-weight:normal;
    text-indent:5px;
}
.sort a{
    position:absolute;
    top:0;
    left:90px;
    width:19px;
    height:19px;
    background:url(images/image1.png) no-repeat;
    z-index:2;
}
.sort a:hover{
    background:url(images/image2.png) no-repeat;
}
.sort ul{
    width:107px;
    border:1px solid #ccc;
    background:#fff;
    position:absolute;
    top:18px;
    z-index:1;
    display:none;
}
.sort a:hover .sort>ul{
    display:block;
}
.sort li{
    font-size:12px;
    line-height:20px;
    text-indent:5px;
    cursor:pointer;
}
.sort .active{
    background:#099;
    color:#fff;
}
.sort p{
    float:right;
    color:#747474;
    font-size:12px;
}
.sort p strong{
    color:#999;
}
.color_style{
    color:#b20e00;
}
.sort p span{
    padding:0 5px;
}
.pic_list{
    width:706px;
    overflow:hidden;
}
.pic_list h2{
    height:57px;
    line-height:64px;
    overflow:hidden;
    font-size:18px;
    color:#666;
}
.pic_list ul{
    width:736px;
}
.pic_list li{
    float:left;
    width:182px;
    height:200px;
}
.pic_list a{
    display:block;
    width:154px;
    height:114px;
    border:1px solid #c6c6c6;
    margin-bottom:7px;
}
.pic_list a:hover{
    border:1px solid #663;
}
.pic_list h3{
    color:#666;
    font-size:15px;
    line-height:16px;
}
.pic_list p{
    color:#333;
    font-size:13px;
    line-height:16px;
}
.pic_list span{
    color:#b20e00;
}
.page{
    text-align:center;
    border-bottom:1px solid #cdcdc8;
    padding-bottom:5px;
}
.page a{
    diaplay:inline-block;
    height:20px;
    padding:0 6px;
    color:#b20e00;
    text-decoration:none;
    font-size:12px;
    line-height:20px;
}
.page a:hover{
    color:#fff;
    background:#b20e00;
}
.page .active {
    color:#fff;
    background:#b20e00;
}
.page span{
    font-family:'宋体';
}
#scroll_list h2{
    height:57px;
    line-height:64px;
    overflow:hidden;
    font-size:18px;
    color:#666;
}
.scroll_wrap{
    height:195px;
    background:url(images/scroll_border_middle.png) repeat-x;
}
.scroll_wrap_l{
    height:196px;
    background:url(images/scroll_border_left.png) no-repeat left 0;
}
.scroll_wrap_r{
    height:196px;
    background:url(images/scroll_border_right.png) no-repeat right 0;
    position:relative;
}
.prev{
    width:35px;
    height:43px;
    position:absolute;
    background:url(images/scroll_left.png) no-repeat;
    top:71px;
    left:0;
}
.next{
    width:35px;
    height:43px;
    position:absolute;
    background:url(images/scroll_buttom_right.png) no-repeat right 0;
    top:71px;
    right:0;
}
.list_wrap{
    width:615px;
    padding-top:33px;
    margin:0 auto;
}
.list_wrap ul{
    height:150px;
}
.list_wrap li{
    width:205px;
    float:left;
}
.list_wrap a{
    display:block;
    width:145px;
    height:99px;
    margin:0 auto;
}
.list_wrap p{
    line-height:14px;
    padding-top:11px;
    font-size:12px;
    color:#600;
    text-align:center;
    width:145px;
    margin:0 auto;
}
#footer{
    margin-top:970px;
    height:303px;
}
.foot_search{
    height:60px;
    background:url(images/footer_1.png) repeat-x;
}
.foot_wrap{
    width:960px;
    margin:0 auto;
    position:relative;
}
.foot_wrap ul{
    overflow:hidden;
}
.foot_wrap ul li{
    float:left;
    list-style-type:none;
}
.foot_wrap ul li:last-child{
    font-size:0;
    margin:14px 0;
}
.foot_wrap ul li img{
    vertical-align:middle;
}
.foot_wrap ul li:first-of-type {
    margin-right:45px;
    font-size: 14px;
    color: #cbcbcb;
    font-weight: bold;
    line-height: 60px;
}
.foot_wrap ul li:nth-of-type(2) {
    font-size: 14px;
    color: #cbcbcb;
    font-weight: bold;
    line-height: 60px;
}
.foot_bottom{
    height:244px;
    background:url(images/footer_2.png) no-repeat;
    overflow:hidden;
}
.copyright{
    width:960px;
    margin:33px auto;
}
.copyright ul{
    overflow:hidden;
}
.copyright ul li{
    float:left;
    font-size:15px;
    color:#fff;
    font-weight:bold;
    margin-right:40px;
}
.copyright .last{
    margin-right:0px;
}
.copyright ul li ul{
    margin-top:25px;
}
.copyright ul li ul li{
    font-size:13px;
    color:#cfcfcf;
    font-weight:normal;
    height:20px;
    line-height:20px;
    float:none;
    cursor:pointer;
}
.copyright .email{
    color: #ffcc00;
}

.search {
    width:292px;
    height:31px;
    background:url(images/header_right.png) no-repeat;
    position:absolute;
}
.search .text1{
    position:absolute;
    top:0;
    left:20px;
    width:230px;
    height:30px;
    background:none;
    border:none;
    font-size:13px;
    color:#666;
    outline:none;
}
.search .submit{
    position:absolute;
    top:0px;
    right:0px;
    width:42px;
    height:30px;
    background:none;
    border:none;
}
.foot_wrap .search{
    top:16px;
    right:0px;
}



