body{
	background-color: #44565C;
}
.waikuang1{
	width: 768px;
	height: 300px;
	background-color: white;
	position: relative;
}
.waikuang2{
	width: 640px;
	height: 400px;
	background-color: white;
	margin-top: 30px;
	position: absolute;
}
.waikuang1 .top .col-md-4-1{
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid #999;
	height: 50px;
	background-color: #eee;
	width: 220px;
}
.waikuang1 .top .col-md-4-2{
	position: absolute;
	margin-left: 260px;
	margin-top: 20px;
	border: 1px solid #999;
	height: 50px;
	width: 220px;
	background-color: #eee;
}
.waikuang1 .top .col-md-4-3{
	position: absolute;
	margin-left: 500px;
	margin-top: 20px;
	border: 1px solid #999;
	height: 50px;
	width: 220px;
	background-color: #eee;
}
.waikuang1 .middle .col-md-3-1{
	position: absolute;
	margin-top: 90px;
	margin-left: 20px;
	border: 1px solid #999;
	height: 50px;
	width: 165px;
	background-color: #eee;
}
.waikuang1 .middle .col-md-6-2{
	position: absolute;
	margin-top: 90px;
	margin-left: 205px;
	border: 1px solid #999;
	height: 50px;
	width: 330px;
	background-color: #eee;
}
.waikuang1 .middle .col-md-3-3{
	position: absolute;
	margin-top: 90px;
	margin-left: 555px;
	border: 1px solid #999;
	height: 50px;
	width: 165px;
	background-color: #eee;
}
.waikuang1 .bottom .col-md-1-1{
	position: absolute;
	margin-top: 160px;
	margin-left: 20px;
	border: 1px solid #999;
	height: 50px;
	width: 50px;
	background-color: #eee;
}
.waikuang1 .bottom .col-md-1-2{
	position: absolute;
	margin-top: 160px;
	margin-left: 90px;
	border: 1px solid #999;
	height: 50px;
	width: 50px;
	background-color: #eee;
}
.waikuang1 .bottom .col-md-2-3{
	position: absolute;
	margin-top: 160px;
	margin-left: 160px;
	border: 1px solid #999;
	height: 50px;
	width: 100px;
	background-color: #eee;
}
.waikuang1 .bottom .col-md-2-4{
	position: absolute;
	margin-top: 160px;
	margin-left: 280px;
	border: 1px solid #999;
	height: 50px;
	width: 100px;
	background-color: #eee;
}
.waikuang1 .bottom .col-md-6-5{
	position: absolute;
	margin-top: 160px;
	margin-left: 400px;
	border: 1px solid #999;
	height: 50px;
	width: 320px;
	background-color: #eee;
}
.waikuang2 .one .col-md-6-1{
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid #999;
	height: 50px;
	width: 290px;
	background-color: #eee;
}
.waikuang2 .one .col-md-6-2{
	position: absolute;
	margin-top: 20px;
	margin-left: 330px;
	border: 1px solid #999;
	height: 50px;
	width: 290px;
	background-color: #eee;
}
.waikuang2 .two .col-md-12-1{
	position: absolute;
	margin-top: 90px;
	margin-left: 20px;
	border: 1px solid #999;
	height: 50px;
	width: 600px;
	background-color: #eee;
}
.waikuang2 .three .col-md-3-1{
	position: absolute;
	margin-top: 160px;
	margin-left: 20px;
	border: 1px solid #999;
	height: 50px;
	width: 135px;
	background-color: #eee;
}
.waikuang2 .three .col-md-6-2{
	position: absolute;
	margin-top: 160px;
	margin-left: 175px;
	border: 1px solid #999;
	height: 50px;
	width: 290px;
	background-color: #eee;
}
.waikuang2 .three .col-md-3-3{
	position: absolute;
	margin-top: 160px;
	margin-left: 485px;
	border: 1px solid #999;
	height: 50px;
	width: 135px;
	background-color: #eee;
}
.waikuang2 .four .col-md-2-1{
	position: absolute;
	margin-top: 230px;
	margin-left: 20px;
	border: 1px solid #999;
	height: 50px;
	width: 100px;
	background-color: #eee;
}
.waikuang2 .four .col-md-2-2{
	position: absolute;
	margin-top: 230px;
	margin-left: 140px;
	border: 1px solid #999;
	height: 50px;
	width: 100px;
	background-color: #eee;
}
.waikuang2 .four .col-md-8-3{
	position: absolute;
	margin-top: 230px;
	margin-left: 260px;
	border: 1px solid #999;
	height: 50px;
	width: 360px;
	background-color: #eee;
}
.waikuang2 .five .col-md-3-1{
	position: absolute;
	margin-top: 300px;
	margin-left: 20px;
	border: 1px solid #999;
	height: 50px;
	width: 135px;
	background-color: #eee;
}
.waikuang2 .five .col-md-3-2{
	position: absolute;
	margin-top: 300px;
	margin-left: 175px;
	border: 1px solid #999;
	height: 50px;
	width: 135px;
	background-color: #eee;
}