.head{
	height:60px;
	background-color:#333333;
}
body{
	background-color:#dedede;
	margin:0;
}
.logo{
	position:relative;
	float:left;
	margin-left:10px;
	height:60px;
	width:324px;
}
.link{
	position:relative;
	float:right;
	margin-right:15px;
}
.link a{
	color:white;
    line-height:60px;
    text-decoration:none;
}
a:hover{
	color:grey;
}
#article_1{
	margin:20px auto;
	background-color:white;
	width:96%;
	padding:15px;
	font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial;
}
#article_2{
	margin:20px auto;
	background-color:white;
	width:96%;
	padding:15px;
	font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial;
}
#article_3{
	margin:20px auto;
	background-color:white;
	width:96%;
	padding:15px;
	font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial;
}
#picture{
	margin:20px auto;
	background-color:white;
	width:96%;
	padding:15px;
	font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial;
}
#item{
	margin:20px auto;
	background-color:white;
	width:96%;
	padding:15px;
	font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial;
}
p{
	text-indent:2em;
	margin:16px 0px;
}
div h1{
	font-size: 25px;
	font-weight:bold;
    font-family:'Microsoft YaHei'.'Helvetica Sans GB', Helvetica,Arial;
}
div h2{
	font-size: 15px;
	color:grey;
    font-family:'Microsoft YaHei'.'Helvetica Sans GB', Helvetica,Arial;
}
span{
	color:purple;
	text-decoration:underline;
}
.about{
	font-family:'Microsoft YaHei'.'Helvetica Sans GB', Helvetica,Arial;
	font-size:13px;
	color:grey;
}
ul{
	list-style:none;
}
ol{
	font-weight:bold;
}
div p a{
	color:blue;
}
table{
	margin:15px;
	width:1420px;
	border:1px solid black;
	border-spacing:0px;
}
.beggin{
	color:white;
	background-color:#333333;
}
table tr{
	margin:0;
	font-weight:none;
}
table th{
    text-align:left;
    width:472px;
}
.end{
	background-color:#dedede;
}
.item h1{
	line-height: 38px;
	padding-left: 10px;
	margin-bottom: 30px;
	border-left:4px solid #ccc;
}

.submit {
    border-radius: 10px;
    height: 40px;
    background-color: #3355d0;
    text-align: center;
    margin-top: 10px;
}

.submit span {
    line-height: 40px;
    color: #fff;
    text-decoration:none;
}

footer{
	width:1518px;
	height:70px;
	background-color:black;
	color:white;
	text-align:center;
    padding-top:20px;
    font-size:10px;
}

	
