
body{
    background:#dedede;
    margin: 0;
    padding: 0;
}

/*头*/
header{
    height: 60px;
    background: #333333;
}
header img{
    padding-left: 30px;
}
header ul{
    position: absolute;top: 0;right: 20px;
}
header ul li{
    float:left;
    list-style: none;
}
header ul li a{
    font-size: 13px;
    text-decoration: none;
    color: #ffffff;
}
header ul li a:hover{
    color: red;
}
#di{
    width: 20px;
    background: url("../work_5.imgs/task_1_2_2.png");
}
/*内容*/
content{
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    display: block;
}
/*左边*/
.lefter{
    width: 60%;
    float: left;
}
content h3,h4{
    color: gray;
}
content p{
    text-indent: 2em;
}
content img{
    height: 250px;
}
content ul li{
    list-style: none;
}
content dd{
    margin-top: 20px;
    border: 1px solid gray;
    width: 150px;
    text-align: center;
    line-height: 50px;
    float: left;
    
}
content dd img{
    height: 70px;
}

#tbt{
    background: #333333;
}
#tbf{
    background: #cccccc;
}
#td1{
    width: 495px;
}
#td2{
    width: 205px;
}
content table td{
    height: 25px;
    border: 1px solid #cccccc;
}
/*右边*/
.righter{
    position: absolute;
    top: 60px;
    width: 30%;
    right: 0;
}
#getborder{
    border-left: 3px solid #cccccc;
    font-size: 18px;
}

content form div{
    font-size: 15px;
    text-align: right;
    width: 300px;
    line-height: 30px;
}
content form div p{
    color: gray;
}
.next{
    text-align: left;
    margin-left: 100px;
}
.dhsr{
    margin-left: 100px;
    text-align: left;
    margin-top: 100px;
}
.tj{
    cursor: pointer;
    margin: 5px;
    background: #3355d0;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
}

/*底部*/
footer{
    height: 60px;
    background: #000000;
    text-align: center;
    line-height: 60px;
    color: white;
    float: left;
    width: 100%;
}