@charset "utf-8";
/* CSS Document */

body,li,ul,p,h1,h2,dd,dl,td,tr,table,input{ margin: 0;padding: 0;font-family: "宋体";}
ul{ list-style:none;padding:0;margin:0;}
input { outline: none;}
a { text-decoration: none;}
img { vertical-align: top; border: none;}

.clear { zoom: 1;}
.clear:after { content: "";display: block;clear: both;}

body { background:#CCCCCC;}

.head { background: url(img/beijing.png) repeat-x;}
.head .logo { float: left;}
.head ul li { float: right;margin-top: 23px; width: 84px; font-size: 12px;}
.head li a { color: #f4fff6;font-size: 12px;}
.head li a:hover { color: #8e8c8d;}

.centent h2{ font-size: 20px; color: #000102;}
.centent h3{ color:#787878; font-size: 16px;}
.centent span { font-size:12px;color:#949494;}
.centent p{ font-size: 14px; text-indent: 2em;line-height: 26px;padding: 10px 0px 10px 0px;}
.centent ul { font-size: 14px;text-indent: 1em;line-height: 26px;padding: 10px 0px 10px 0px;}
.centent ol li { font-size: 14px;line-height: 20px;}

.centent .ess1 { background: #ffffff;border: 1px solid #9f9f9f;padding: 38px 28px 32px 20px;border: 20px;margin:20px 22px 0 8px;}


.centent .ess2 { background: #ffffff;border: 1px solid #9f9f9f;padding: 38px 28px 32px 20px;border: 20px;margin:20px 22px 0 8px;}
.ess1 img,.ess2 img{ width: 200px;}


.centent .pic { background: #ffffff;border: 1px solid #9f9f9f;padding: 38px 28px 32px 20px;border: 20px;margin:20px 22px 0 8px;}
.centent .pic dl dd { width: 122px; margin: 30px;padding: 10px 10px 10px 10px; border: 1px solid #cecece;}
.pic dd { display:inline-block;}

.centent .ess3 { background: #ffffff;border: 1px solid #9f9f9f;padding: 38px 28px 32px 20px;border: 20px;margin:20px 22px 0 8px;}
.centent .ess3 table { width: 100%;border:1px solid #CCCCCC;border-spacing: 0;}
.centent .ess3 .tr1 { background: #333333;color: white;}
.centent .ess3 .tr6 { background:#B0B0B0;}
.centent .ess3 a:hover { color:#C30A9A}

.centent .cebian { background: #ffffff;border: 1px solid #9f9f9f;padding: 38px 28px 32px 20px;border: 20px;margin:20px 22px 20px 8px;width: 400px;}
.centent .cebian h2 { border-left:3px solid #BBBBBB;height: 40px;line-height: 40px;padding-left: 10px;}
.centent .idpass,.info { margin-left: 30px;}

.btn { display: block;background-color: #3355D0;color: white;width: 100%;height: 40px;line-height: 40px;border-radius: 12px;margin-top: 10px;}

.cebian { float:right;}

.foot { text-align: center;height: 60px;line-height: 50px;color: white;font-size: 12px;background: #000000;}

.centent .ess { margin-right:500px;}