body{
	margin: 0 auto;
}
* {
	padding: 20px;
}
#main {
	margin-top: 4%;
	background-color: #eee;
	border-color: #999;
	border: 1px solid;
	float: left;
	height: 494px;
}
.left_side {
	float: left;
	width: 200px;
	background-color: #fc0;
	border: 1px solid;
	border-color: #999;
	padding: 0;
}
.right_side {
	float: right;
	background-color: #fc0;
	border: 1px solid;
	border-color: #999;
	padding: 0;
	height: 100%;
}
.right_side .a1 {
	padding: 0;
}
.content {
	display: inline-block;
	background-color: #fff;
	margin-left: 20px;
	margin-right: 20px;
	padding:0px;
	border: 1px solid;
	border-color: #999;

}
.content p {
	margin-top: 0px;
	margin-bottom: 0px;
}