@charset "utf-8";
/* taks_4 */

body{margin:0px;padding:0px;}


/* margin定位方式 */
/* 
#Bg{width:400px;height:200px; margin:0 auto;margin-top:42%;margin-bottom:42%;background:#ccc;border:1px solid #000;}
#rdius{width:50px; height:50px;background:#fc0; margin-left:0px;margin-top:0px;border-radius:0 0 50px 0;}
#rdius2{width:50px; height:50px;background:#fc0; margin-left:350px;margin-top:100px;border-radius:50px 0 0 0;} 
 */

/* position定位方式 */

#Bg{width:400px;height:200px; position:absolute;top:50%;left:50%;border:1px solid  #000;margin-left:-200px;margin-top:-100px;}
#rdius,#rdius2{width:50px; height:50px;background:#fc0;}
#rdius{border-radius:0 0 50px 0;position: absolute;}
#rdius2{border-radius:50px 0 0 0;position: absolute;right:0px;bottom:0px;}

/* 个人认为 margin定位方式应用性不强，因为使用margin定位 就需要通过测试算出整个页面的高度，通过控制上下的距离可以达到居中的效果 positon定位就要考虑到脱离文档流问题。 */