body{
	margin: 0;
	background-color: grey;
	font-family: Microsoft Yahei;}
.header{
	background: #333333;
	height: 60px;
	margin: 0;
	padding: 0;}
.link{
	position: relative;
	float: right;
	margin-right: 22px;
	font-size:12px; }
.link li{
	width: 80px; 
	vertical-align: middle;
	display: inline-block;
	padding-top: 10px;}
.link a{
	color: white;
	text-decoration: none;}
.link a:hover{
	color: grey}
.picture1{
	position: relative; 
	float: left;
	margin:10px 38px;
}

#passage1,#passage2,#picture,#end,#left{
	background-color: #ffffff;
	padding: 22px;margin: 22px;}
#passage1 h3,span{
	color: #68605d;}
#passage1 p{
	font-size: 16px;
	line-height: 25px;
	font-family: "黑体"}

div ul{
	list-style: none;
	font-family: "黑体";}
#passage2 h3,span{
	color: #68605d;}
#passage2 p{
	font-size: 16px;
	line-height: 25px;
	font-family: "黑体"}

#content{
	margin:16px; 
	padding:10px;
	width: 302px;
	border: 1px #d6d6d6 solid;}
#content p{
	text-align: center;}

#end h3,span{
	color: #68605d;}
#end ol li{
	font-size: 16px;
	font-family: "黑体";
	margin:6px;
	font-weight: bold;}
#end table{
	margin: 15px;
	width: 96%;
	border-spacing: 0;
	border: 1px #cccccc;}
#end th{
	color: white;
	background-color: #333333;
	text-align: left;}
.tr td{
	color: black;
	background-color: #cccccc;}

.content-left{
	position: relative;
	margin-left: 270px;}
.content-left p{
	margin-left: 128px;
	font-size: 12px;
	color: #999ba8;}
.mima{
	margin-left: 32px;}
.demo{
	margin-left: 270px;
	font-size: 15px;}
.submit{
	background: #3355d0; 
	text-align: center;
	height: 44px;color: white;
	width: 100%;
	margin:0;
	font-size: 18px;}
.footer{
	background-color: black;
	color: white;
	text-align: center;
	height: 50px;
	padding-top: 25px;
}