@charset 'utf-8';
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #eeeeed;
}
@mixin size($width,$height){
	width: $width;
	height: $height;
}
%font-1{
	font-size: 12px;
	font-family: "黑体";
}
%font-2{
	font-size: 16px;
	font-family: "黑体";
}
%font-3{
	font-size: 12px;
	font-family: "微软雅黑";
}
%border{
	border: 1px solid #cbcbcb;
}
%bgcolor{
	background-color: #fff;
}
%border_top_left{
	border-left: 1px solid #dadcde;
	border-top: 2px solid #cacdd1;
}
%list{
	ul{
		overflow: hidden;
	}
	ul li{
		float: left;
		list-style: none;
	}
}
$numlist:1,2,3;
.header{
	@include size(100%,56px);
	background-color: #228abf;
	min-width: 1280px;
	img{
		vertical-align: middle;
		
	}
	input{
		margin: {
			left: ((1516 - 1280)/2+725)/1516 *100%;
			top: 12px;
		}
		@include size((295/1516)*100%,30px);
		border:none;
		border-radius: 20px;
		outline: none;
		background: url(../img/sousuo.jpg) no-repeat;
		background-position: 20px;
		padding-left:20px;
		background-color: #fff;
	}
	span{
		color: #fff;
		@extend %font-1;
	}
}
.img#{nth($numlist,1)}{
	margin-left:((1516 - 1280) / 2 + 50)/1516 *100%;
	margin-top: 2px;
	}
.img#{nth($numlist,2)}{
	margin-left: 20px;
}
#mainbody{
	@include size(1280px,1210px);
	margin: 0 auto;
	overflow: hidden;
}
aside{
	@include size(260px,100%);
	background-color: #2a2e3d;
	float: left;
}
.aside_head{
	overflow: hidden;
	@include size(100%,150px);
	img{
		margin:{
			left: 45px;
			top: 17px;
		}
		vertical-align: middle;
	}
	.username{
		display: inline-block;
		color: #f6f5f5;
		@extend %font-2;
		position: relative;
		left: 15px;
		top: 8px;
	}
	p{
		@include size(120px,35px);
		margin: 20px 80px 0 60px;
		@extend %font-2;
		color: #6e8095;
		span {
			float: left;
		}
	}
}
.user_inf1{
	padding-right: 25px;
	border-right: 2px solid #383d4e;
}
.user_inf2{
	margin-left: 25px;
}
.personal{
	ul li{
		list-style: none;
		@extend %font-1;
	}
	ul{
		overflow: hidden;
	}
}
.first_li{
	li{
		line-height: 35px;
	}
	img{
		vertical-align: middle;
	}
	background-color: #393d4e;
	@include size(100%,190px);
	padding: {
		top: 15px;
		left: 45px;
	}
	h5{
		color: #ededef;
		font:{
			weight:normal;
			size:12px;
		}
	}
	ul{
		margin-left: 30px;
	}
}
.active{
	color: #ededef;
}
.inactived{
	color: #6e8095;
}
.second_ul{
	overflow: hidden;
	margin:{
		top: -5px;
	}
	&:before{
		content: url(../img/icon.jpg);
		display: inline-block;
		float: left;
		margin:{
			left: 45px;
			top: 15px;
		}
	}
	li{
		text-indent: 8px;
		line-height: 48px;
		@extend .inactived;
	}
}
.right_part{
	float: left;
	@include size(1280-260px,100%);
	header{
		text-indent: 30px;
		@include size(100%,30px);
		@extend %bgcolor;
		line-height: 30px;
		@extend %font-1;
		color: #aaa;
		span{
			color: #6898c2;
		}
	}
}
.content{
	@include size(890px,100%);
	margin: 20px auto;
	h6{
		@extend %font-3;
		color: #323333;
		font-weight: normal;
		margin-top: 21px;
	}
}
.search{
	@include size(890px,85px);
	border:1px solid #dcdee0;
	@extend %bgcolor;
	label{
		color: #aaa;
		@extend %font-1;
	}
	select{
		margin-left: 15px;
		@extend %font-1;
		color: #323333;
		@extend %border;
	}
	div{
		float: left;
		margin-top: 15px;
	}
	button{
		@include size(50px,25px);
		background-color: #388ac1;
		@extend %font-1;
		color: #fff;
		border-radius: 3px;
		outline: none;
		border: none;
		margin:{
			top: 30px;
			left: 30px;
		}
	}

}
.query{
	margin-left: 30px;
}
.select1,.select3{
	@include size(70px,25px);
}
.merchandise{
	margin-left: 35px;
	img{
		position: relative;
		vertical-align: middle;
		bottom: 15px;
	}
}
.select2{
	@include size(120px,25px);
}
.date{
	margin-left: 30px;
	input{
		@include size(113px,23px);
		@extend %border;
		margin-left: 15px;
		padding-left: 5px;
		@extend %font-1;
	}
	select{
		@include size(70px,25px);
	}
}
.time_consume{
	margin-left: 15px;
}
.his_query{
	@include size(890px,65px);
	margin-top: 10px;
	@extend %list;
	ul li{
		margin-left: 5px;
		p{
			text-align: center;
			@extend %font-3;
			color: #323333;
			margin: 10px;
		}
		
	}
}
.arr_li{
	@include size(30px,65px);
	@extend %bgcolor;
	@extend %border_top_left;
	img{
		margin: 23px 10px;
	}
}
.infor_li{
	@include size(110px,65px);
	@extend %bgcolor;
	@extend %border_top_left;
	span{
			font: {
				size:21px;
				family:"微软雅黑";
			}
			display: block;
			color: #ec6500;
			text-align: center;
		}
}
.fir_li{
	@extend .infor_li;
	border-top: 3px solid #4388c9!important;
}
.last_li{
	@include size(122px,65px);
	@extend %border_top_left;
	@extend %bgcolor;
	span{
		@extend %font-3;
		color: #535353!important;
		position: relative;
		top: 10px;
		left: 10px;
	}
	img{
		vertical-align: middle;
		margin:{
			top: 15px;
			left: 10px;
		}
	}
}
.volume{
	overflow: hidden;
	@extend %list;
	ul li{
		@include size(196.5px,70px);
		@extend %bgcolor;
		margin-right: 30px;
		border: {
			top: 1px solid #d7d8da;
			right: 1px solid #d7d8da;
			bottom: 1px solid #d7d8da;
		}
		p{
			margin: {
				top: 20px;
				bottom: 15px;
				left: 8px;
			}
			display: inline-block;
			@extend %font-1;
			color: #323333;
			span{
				font: {
					size:10px;
					family: "黑体";
				}
				color: #aaaaaa;
				display: inline-block;
				margin-top: 15px;
			}
		}
		div{
			@include size(60px,45px);
			margin-left: 76px;
		}
	}
}
$border-color:(
	color1:#43b29e,
	color2:#388ac1,
	color3:#cf4a36,
	color4:#e2cd47
);
@for $i from 1 through 4{
	.volume#{$i}{
		border-left: map-get($border-color,color#{$i}) 3px solid;
		div{
			background-color: map-get($border-color,color#{$i});
			display: inline-block;
		}
	}
}
%h5{
	@include size(100%,45px);
	@extend %font-1;
	text-indent: 20px;
	color: #aaa;
	line-height: 45px;
	background-color: #f4f6f7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #e7e8eb;
}
.project{
	overflow: hidden;
	margin-top: 15px;
	.left_pro{
		float: left;
		@include size(520px,357px);
		border-radius: 5px;
		border: 1px solid #ced1d4;
		@extend %bgcolor;
		h5{
			@extend %h5;
		}
		div{
			margin: -2px 20px 25px;
			border: 2px solid #ddddde;
			border-radius: 5px;
		}
		@extend %list;
		ul{
			margin-top: 13px;
			margin-left: 20px;
		}
		.active_li{
			background-color: #fff!important;
			border:{
				top: 2px solid #ddddde;
				right: 2px solid #ddddde;
				left: 2px solid #ddddde;
			}
		}
		ul li{
			@include size(85px,28px);
			background-color: #ededf0;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			margin-right: 5px;
			line-height: 28px;
			text-align: center;
			@extend %font-3;
			color: #535353;
		}
		table{
			margin: 28px 35px 35px 35px;
			border-collapse: collapse;
			.active_td{
				background-color: #f3f5f6;
			}
		}
		table tr td{
			border: 1px solid #ddddde;
			@include size(100px,30px);
			text-align: center;
			line-height: 30px;
			font: {
				size:12px;
				family:"宋体";
			}
			color: #535353;
		}
	}
	.right_pro{
		@include size(355px,350px);
		margin-left: 10px;
		border: 2px solid #ddddde;
		border-radius: 5px;
		float: left;
		@extend %bgcolor;
		h5{
			@extend %h5;
		}
		.head_6{
			margin-top: 15px;
			padding-left:15px;
			margin-left: 35px;
			width: 280px;
			padding-bottom: 10px;
			border-bottom: 1px solid #e7e7e7;
			span{
				color: #c3c2c2;
				@extend %font-3;
			}
			p{
				color: #535353;
				@extend %font-3;
			}
		}
		._tbody{
			width: 323px;
			border-bottom: 1px solid #e7e7e7;
			margin-left: 32px;
			.s_head{
				@include size(95px,45px);
				padding-left: 15px;
				display: inline-block;
				@extend %font-3;
				color: #c3c2c2;
				line-height: 20px;
				.ifo{
					color: #535353!important;
				}
			}
		}
		.detail_ifo{
			@include size(280px,145px);
			border-bottom: 1px solid #e7e7e7;
			margin-left: 35px;
			padding-left: 15px;
			@extend %font-3;
			color: #c3c2c2;
			line-height: 20px;
			p{
				color: #535353!important;
			}
		}		
		form{
			margin:{
				top: 10px;
				left: 35px;
			}
			label{
				@extend %font-3;
				color: #c3c2c2;
			}
			.search_btn{
				@include size(50px,25px);
				@extend %font-1;
				color: #fff;
				background-color: #388ac1;
				outline: none;
				border: none;
				border-radius: 3px;
				margin-left: 130px;
			} 
		}
	}
}
.last_part{
	margin-top: 10px;
	overflow: hidden;
}

.calender{
	@include size(350px,355px);
	@extend %bgcolor;
	border: 2px solid #ddddde;
	border-radius: 5px;
	float: left;
	h5{
		@extend %h5;
	}
	form{
		margin-top: 10px;
		margin-left: 20px;
		border-bottom: 1px solid #a9cfec;
		padding-bottom: 10px;
		width: 315px;
		select{
			@extend %font-1;
			color: #535353;
			border: 1px solid #cacbcb;
			margin-right: 5px;
		}
		input{
			@include size(60px,20px);
			@extend %bgcolor;
			outline: none;
			border: 1px solid #cacbcb;
			@extend %font-1;
			color: #535353;
		}
	}
	table{
		margin-left: 20px;
		width: 315px;
		border-collapse: collapse;
	}
}
.year{
	@include size(65px,20px);
}
.month{
	@include size(85px,20px);
	padding-left: 25px;
}
.mark_day{
	@include size(75px,20px);
}
.week{
	@include size(315px,30px);
	@extend %font-1;
	color: #535353;
	line-height: 30px;
	text-align: center;
	td{
		@include size(315px/7,100%);
	}
	border-bottom: 1px solid #e1e1e1;
}
.day{
	td{
		@include size(42px,42px);
		text-align: center;
		font: {
			size:11.36px;
			family:"黑体";
		}
		color: #323333;
	}
}
.special_day{
	color: #c9161d;
}
.border_day{
	border: 1px solid #f8d564;
	display: block;
	line-height: 21px;
}

.car{
	@include size(520px,357px);
	float: left;
	margin-left: 10px;
	border-radius: 5px;
	border: 1px solid #ced1d4;
		@extend %bgcolor;
	h5{
		@extend %h5;
	}
	table{
		border-collapse: collapse;
		text-align: center;
		margin:{
			left: 40px;
			top: 20px;
		}
		tr td{
			border: 1px solid #cacbcb;
			@extend %font-1;
			color: #323333;
		}
		tr th{
			border: 1px solid #cacbcb;
			font:{
				size:13px;
				family:"黑体";
			}
			color: #231815;
			font-weight: normal;
		}
	}
}
.rank{
	@include size(60px,25px);
}
.brand{
	@include size(90px,25px);
}
.heat{
	@include size(255px,25px);
	text-align: left;
	padding-left: 35px;
}
.hover_tr{
	background-color: #f3f5f6;
}
.last_tr td{
	border-bottom: 1px solid #fff!important;
}
.color_wrap{
	@include size(170px,5px);
	background-color: #dddcdd;
	display: inline-block;
	margin-left: 22px;
	position: relative;
}
$color_len:(
	grand1:(
		color1: #ec6d51,
		len1: 142px,
	),
	grand2:(
		color2: #ef804f,
		len2: 122px,
	),
	grand3:(
		color3: #f5b77b,
		len3: 106px,
	),
	grand4:(
		color4: #7ecaf0,
		len4: 95px,
	),
	grand5:(
		color5: #7ecaf0,
		len5: 85px,
	),
	grand6:(
		color6: #7ecaf0,
		len6: 79px,
	),
	grand7:(
		color7: #7ecaf0,
		len7: 74px,
	),
	grand8:(
		color8: #7ecaf0,
		len8: 64px,
	),
	grand9:(
		color9: #7ecaf0,
		len9: 60px,
	),
	grand10:(
		color10: #7ecaf0,
		len10: 55px,
	),
);
@for $i from 1 through 10{
	.heat_color#{$i}{
		background-color: map-get(map-get($color_len,grand#{$i}),color#{$i});
		width: map-get(map-get($color_len,grand#{$i}),len#{$i});
		height: 5px;
		display: block;
	}
}