body{
	position: relative;
	width: 100%;
	/*max-width: 1900px;*/
	height: 100%;
	background-color: rgb(245,245,245);
	/*overflow-x:hidden;*/
}
a,
a:hover{
	color: #000;
	text-decoration: none;
}
ul{
	list-style: none;
}
/* 顶部 */

#head{
	height: 55px;
	width: 100%;
	background-color:#2189bf; 
}
.logo{
	float: left;
	margin-top: 10px;
	margin-left: 3em;
	background-color:#2189bf;
}
.log-in{
	position: absolute;
	right: 0;
	float: right;
	margin-top: 20px;
	margin-right: 8em;
}
.log-in span{
	float: left;
}
.search-box{
	position: absolute;
	float: right;
	width: 20%;
	right: 0;
	margin-top: 14px;
	margin-right: 15em;
}
.search-box input{
	width: 100%;
	height: 26px;
	padding-top: 0px;
	padding-left: 15%;
	border-radius: 10px;
	border: 0px;
	font-size: 17px;
	background: #fff url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 12px 4px;
}
#head a{
	font-size: 17px;
	color: #fff;
}
#head a:hover{
	font-size: 18px;
	color: rgb(245,245,245);
	margin-right: 133px;
}
.log-in :last-child{
	float: left;
	margin-left: 3px;
	margin-top: -2px;
}


#body{
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
}

/* 内容部分的左边侧栏 */
#left{
	position: absolute;
	float: left;
	width: 260px;
	height: 100%;
	background-color:#2a2e3d; 
}

/*     用户信息部分 START     */
.user-box{
	float: left;
	height: 150px;
	width: 100%;
	margin-bottom: 23px;
}
.user-info{
	width: 150px;
	margin: 0 auto;
	margin-top: 18px;
	font-family: "黑体 Regular";
	font-size: 18px;
	color: #f6f5f5;
	cursor: default;
}
.user-info span{
	margin-left: 18px;
}
.other-info{
	width: 140px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 18px;
}
.o-i-f{
	float: left;
	color: #6a7c90;
	cursor: pointer;
	text-align: center;
}
.o-i-f:hover{
	color: #8aa0ba;
}
.o-i-line{
	float: left;
	width: 4px;
	height: 40px;
	margin:0 30px;
	background-color:#313545; 
}

/*      用户信息部分 END      */








/*      导航信息部分 START    */
.navigation-box{
	float: left;
	width: 100%;
	color: #6e8095;
	font-family: "黑体 Regular";
	font-size: 18px;
}
.navigation-box ul{
	padding: 0;
	z-index: 1;
}
.navigation-box ul > li{
	min-height: 60px;
	padding-left: 40px;
	line-height: 60px;
	cursor: pointer;
}
.navigation-box li:hover{
	color: #ececef;
	background-color: #393e4e;
}
.navigation-box ul li span{
	margin-right: 20px;
}
.navigation-box ul li ul{
	margin-top: -5px;
	z-index: 2;
}
.navigation-box ul li ul li{
	min-height: 31px;
	padding-left: 20px;
	line-height: 40px;
	font-size: 16px;
	color: #6e8095;
	cursor: pointer;
}
.navigation-box ul li ul li span{
	margin-right: 10px;
}
.navigation-box ul li ul li ul{
	padding-left: 20px;
	z-index: 3;
}
.hidden{
	display: none;
}
.high-light{
	color: #ececef!important;
	background-color: #393e4e;
}
.high-light2{
	color: #ececef!important;
}
.fold{
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 15px;
	margin-right: 0!important;
	background: url(../img/fold.png);
	background-repeat: no-repeat;
}
.unfold{
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 15px;
	margin-right: 0!important;
	background: url(../img/unfold.png);
	background-repeat: no-repeat;
}








/*  右边的主要内容  */
#right{
	width: 100%;
}
.right-box{
	margin-left: 260px;
}
/* 右边顶部导航 */
.right-top{
	height: 40px;
	background-color:#fff; 
	overflow: hidden;
}
.r-t-font-box{
	margin-top: 10px;
	margin-left: 30px;
	cursor: default;
}
.r-t-f{
	font-size: 16px;
	color: #aaa;
}
.r-t-f:hover{
	color: #82a8cb;
}


/*  右边查询框  */
.right-search-box{
	width: 80%;
	min-width: 826px;
	height: 84px;
	border: 1px solid #e4e5e8;
	margin: 0 auto;
	margin-top: 19px;
	background: #fff;
	box-shadow: 0 0 1px 1px #e4e5e8;
}
.r-s-inner-box{
	float: left;
	width: 10%;
	margin-top: 22px;
	text-align: center;
}
.r-s-inner-box1{
	float: left;
	width: 22%;
	margin-top: 22px;
	padding-left: 3.3%;
	text-align: center;
}
.r-s-inner-box1 select{
	width: 50%;
	min-width: 70px;
}
.r-s-inner-box input{

}
.right-search-box span{
	margin-right: 16px;
	color: #b7b7b7;
	cursor: default;
}
.right-search-box select{
	height: 25px;
	border: 1px solid #c3c3c4;
}
.r-s-b-p{
	min-width: 740px;
	margin: 0 auto;
}
.r-s-inner-box2{
	float: left;
	width: 25%;
	margin-top: 8px;
	padding-left: 4%;
	text-align: center;
}
.r-s-inner-box2 select{
	width: 70%;
}
.r-s-inner-box2 > div{
	float: left;
}
.r-s-inner-box2 img{
	float: left;
	margin-top: 13px;
	cursor: pointer;
}
.r-s-buy-box{
	width: 80%;
	text-align: right;
}
.r-s-buy{
	width: 100%;
	margin-top: 5px;
}
.r-s-inner-box3{
	float: left;
	width: 43%;
	margin-top: 8px;
	padding-left: 2%;
	white-space: nowrap;
	text-align: center;
}
.r-s-inner-box3 span{
	margin-left: 2%;
}
.s-lg{
	width: 40%;
	min-width: 117px;
}

.s-mg{
	width: 20%;
	min-width: 67px!important;
}


/*  价格表 */
.money_box{
	width: 80%;
	height: 63px;
	min-width: 826px;
	margin: 0 auto;
	margin-top: 18px;
}
.let-btn,
.rig-btn,
.history-btn{
	width: 3%;
	height: 63px;
	border: 1px solid #e4e5e8;
	background: #fff;
	box-shadow: 0 0 1px 0px #e4e5e8;
	cursor: pointer;
	text-align: center;
}
.let-btn span,
.rig-btn span{
	margin-top: 20px;
	color: #e6e5e5;
}
.let-btn:hover span,
.rig-btn:hover span{
	color: #000;
}
.let-btn{
	float: left;
	margin-right: .6%;
}
.rig-btn,
.history-btn{
	float: left;
}
.rig-btn{
	margin-left: .6%;
}
.history-btn{
	width: 14.4%;
	padding-top: 15px;
	margin-left: .5%;
	font-size: 16px;
	font-family: "黑体";
	opacity: 1;
}
.history-btn:hover{
	opacity: 0.8;
}
.history-btn img{
	/*float: left;*/
	/*margin-left: 10px;*/
}
.history-btn span{
	/*float: left;*/
	margin-left: 5%;
	margin-top: 5px;
}
.item{
	float: left;
	width: 77.9%;
	height: 63px;
	overflow: hidden;
}
.item-box{
	float: left;
	width: 130%;
	
}
.item-block{
	float: left;
	width: 10%;
	height: 65px;
	border: 1px solid #e4e5e8;
	margin-right: 1.1%;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
}
.item-block-time{
	margin-top: 10px;
}
.item-block-money span{
	font-size: 20px;
	color: #ec6500;
}
.item-block:hover{
	box-sizing: border-box;
	border-top: 3px solid #4388c8;
	height: 66px;
}


/*  统计表 */
.statistics-box{
	width: 80%;
	min-width: 826px;
	margin: 0 auto;
	margin-top: 22px;
}
.statistics-title{
	margin-bottom: 5px;
	font-size: 17px;
	font-family: "黑体";
	color: #323333;
	cursor: default;
}
.s-c-b{
	height: 80px;
	padding-left: 0;
}
.statistics-content{
	height: 80px;
	width: 100%;
}
.s-c-green,
.s-c-blue,
.s-c-red,
.s-c-yellow
{
	width: 90%;
	height: 100%;
	border: 1px solid #e4e5e8;
	background: #fff;
	box-shadow: 0 0 1px 1px #e4e5e8;
	cursor: pointer;
}


.s-c-green{
	border-left: 3px solid #43b29d;
}
.s-c-blue{
	border-left: 3px solid #388ac2;
}
.s-c-red{
	border-left: 3px solid #cf4a36;
}
.s-c-yellow{
	border-left: 3px solid #e2cd47;
}


.s-c-font{
	float: left;
	margin-top: 17px;
	margin-left: 13%;
	font-size: 15px;
}
.s-c-bg-g,
.s-c-bg-b,
.s-c-bg-r,
.s-c-bg-y
{
	float: right;
	height: 45px;
	width: 36%;
	margin-top: 17px;
	margin-right: 15px;
}

.s-c-bg-g{
	background-color: #43b29d;
}
.s-c-bg-b{
	background-color: #388ac2;
}
.s-c-bg-r{
	background-color: #cf4a36;
}
.s-c-bg-y{
	background-color: #e2cd47;
}

.s-c-b-mg{
	margin-left: 13px;
}
.s-c-b-mg2{
	margin-left: 20px;
}
.s-c-b-mg3{
	float: right;
}
.s-c-b-rp{
	padding-right: 0;
}


/*  项目表格  */
.item-table-box{
	min-width: 826px;
	width: 80%;
	height: 450px;
	margin: 0 auto;
	margin-top: 22px;
}
.item-table{
	float: left;
	height: 450px;
	width: 59.4%;
	min-width: 514px;
	border-radius: 10px;
	border: 1px solid #e4e5e8;
	margin-right: 1.4%;
	box-shadow: 0 0 1px 1px #e4e5e8;
	background-color: #fff;
}
.item-content{
	position: relative;
	float: left;
	width: 39.2%;
	height: 450px;
	border-radius: 10px;
	border: 1px solid #e4e5e8;
	box-shadow: 0 0 1px 1px #e4e5e8;
	background-color: #fff;
}
.i-t-t-box{
	float: left;
	width: 97px;
	height: 33px;
	border-radius: 5px;
	padding: 8px 24px 0 24px;
	margin-right: 4px;
	background-color: #ededf0;
	cursor: pointer;
}
.i-t-t-cheked{
	width: 97px;
	padding-top: 6px;
	padding-left: 22px;
	padding-right: 26px;
	border: 2px solid #e4e5e8;
	border-bottom: 0;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #ffffff;
	cursor: pointer;
}
.item-table-title{
	float: left;
	margin-top: 16px;
	margin-left: 19px;
}
.item-title{
	height: 39px;
	padding-top: 10px;
	padding-left: 23px;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #f4f5f6;
	cursor: default;
}
.item-table-content-box{
	height: 330px;
	width: 90%;
	min-width: 487px;
	border: 2px solid #e4e5e8;
	border-radius: 5px;
	border-top-left-radius: 0;
	margin-left: 19px;
	margin-top: 47px;
}

.item-table-content{
	width: 90%;
	min-width: 430px;
	height: 300px;
	margin-top: 28px;
	margin-left: 31px;
	/*border: 1px solid #e4e5e8;*/
}
.item-table-content table td{
	height: 45px;
	text-align: center;
	cursor: pointer;
}
.item-table-content table th{
	text-align: center;
	cursor: default;
}
.item-table-content table td:hover{
	background-color: #f3f5f6;
}


.i-c-inner-box{
	float: left;
	max-height: 60%;
	margin-left: 34px;
	margin-top: 17px;
	cursor: default;
	overflow-y:auto; 
	overflow-x:hidden 
}
.i-c-i-title{
	width: 280px;
	padding-left: 17px;
	border-bottom:1px solid #e8e8e8;
	/*border-bottom:1px solid red;*/
}
.i-c-i-gray{
	margin-top: 6px;
	color: #c3c2c2;
}
.i-c-i-black{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000;
}
.i-c-i-conctnt{
	float: left;
	width: 150%;
	padding-left: 17px;
	border-bottom:1px solid #e8e8e8;
	/*border-bottom:1px solid red;*/
}
.i-c-i-conctnt-left{
	float: left;
	width: 100px;
	
}
.i-c-i-conctnt-right{
	float: left;
	width: 150px;
	border-left: 1px solid #e8e8e8;
	padding-left: 17px;
}
.i-c-i-bottom{
	float: left;
	padding-left: 17px;
	margin-top: 6px;
}
.i-c-bottom-box{
	float: left;
	position: absolute;
	bottom: 37px;
	width: 80%;
	border-top: 1px solid #e7e7e7;
	margin-left: 34px;
	cursor: default;
	overflow: hidden;
}
.i-c-check{
	float: left;
	width: 100%;
	margin-top: 10px;
	color: #c7c6c6;
}
.i-c-check .btn{
	float: right;
}



/*  最下面的功能区  */
.item-func-box{
	min-width: 826px;
	width: 80%;
	height: 450px;
	margin: 0 auto;
	margin-top: 12px;
	margin-bottom: 155px;
}
.item-func{
	float: left;
	height: 450px;
	width: 59.4%;
	border-radius: 10px;
	border: 1px solid #e4e5e8;
	box-shadow: 0 0 1px 1px #e4e5e8;
	background-color: #fff;
}
.item-func-content{
	float: left;
	width: 39.2%;
	min-width: 459px;
	height: 450px;
	border-radius: 10px;
	border: 1px solid #e4e5e8;
	margin-right: 1.4%;
	box-shadow: 0 0 1px 1px #e4e5e8;
	background-color: #fff;
}
.i-t-f-c{
	width: 90%;
	height: 250px;
	margin-top: 17px;
	margin-left: 31px;
}
.i-t-f-c table{
	table-layout:fixed
}
.i-t-f-c table td{
	text-align: center;
	cursor: pointer;
}
.i-t-f-c table th{
	text-align: center;
	cursor: default;
}
.i-t-f-c table td:hover{
	background-color: #f3f5f6;
}


.nub{
	position: relative;
	width: 100%;
	text-align: left!important;
	padding-left: 5%!important;
	word-wrap:break-word;
}
.rank{
	width: 45px!important;
}
.name{
	width: 60px;
}
.progress{
	float: left;
	width: 75%;
	height: 10px;
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 0;
	border-radius: 10px;
}
.nubm{
	float: left;
}
.progress-bar-o1{
	background: #ef8150;
}
.progress-bar-o2{
	background: #f19f4f;
}
.progress-bar-o3{
	background: #9fd8f4;
}


.time-btn-box{
	display: none;
	position: fixed;
	right: 40px;
	bottom: 200px;
	width: 50px;
	height: 50px;
	border: 1px solid #C5C5C5;
	border-radius: 50px;
	background-color: #EEEEEE;
	text-align: center;
	line-height: 50px;
	cursor: pointer;

	transition:background-color,font-size,width,height 1s,1s,1s,1s;
	-moz-transition:background-color,font-size,width,height 1s,1s,1s,1s;
	-webkit-transition:background-color,font-size,width,height 1s,1s,1s,1s;
	-o-transition:background-color,font-size,width,height 1s,1s,1s,1s;

	transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;

}

.time-btn-box:hover{
	width: 70px;
	height: 70px;
	background-color: #C3C3C3;	
	font-size: 18px;
	line-height: 70px;
}


.time-btn-icon{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	font-size: 15px;
	z-index: 20;

	transition: opacity,font-size 1s,1s;
	-moz-transition: opacity,font-size 1s,1s;
	-webkit-transition: opacity,font-size 1s,1s;
	-o-transition: opacity,font-size 1s,1s;
}
.time-btn-icon:hover{
	opacity: 0;
	font-size: 18px;
}

.btn-font{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	font-size: 15px;
	font-weight: bold;
	z-index: 10;

	transition: opacity,font-size 1s,1s;
	-moz-transition: opacity,font-size 1s,1s;
	-webkit-transition: opacity,font-size 1s,1s;
	-o-transition: opacity,font-size 1s,1s;
}
.time-btn-box:hover .btn-font{
	font-size: 18px;
	opacity: 1;
	line-height: 70px;
}




	@keyframes fout
		{
		from {opacity: 0;font-size: 15px;}
		to {opacity: 1;font-size: 18px;}
		}

		@-moz-keyframes fout /* Firefox */
		{
		from {opacity: 0;font-size: 15px;}
		to {opacity: 1;font-size: 18px;}
		}

		@-webkit-keyframes fout /* Safari 和 Chrome */
		{
		from {opacity: 0;font-size: 15px;}
		to {opacity: 1;font-size: 18px;}
		}

		@-o-keyframes fout /* Opera */
		{
		from {opacity: 0;font-size: 15px;}
		to {opacity: 1;font-size: 18px;}
		}
.fout{
	animation:fout 1s;
	-moz-animation:fout 1s; /* Firefox */
	-webkit-animation:fout 1s; /* Safari and Chrome */
	-o-animation:fout 1s; /* Opera */
}
	@keyframes fin
		{
		from {opacity: 1;font-size: 18px;}
		to {opacity: 0;font-size: 15px;}
		}

		@-moz-keyframes fin /* Firefox */
		{
		from {opacity: 1;font-size: 18px;}
		to {opacity: 0;font-size: 15px;}
		}

		@-webkit-keyframes fin /* Safari 和 Chrome */
		{
		from {opacity: 1;font-size: 18px;}
		to {opacity: 0;font-size: 15px;}
		}

		@-o-keyframes fin /* Opera */
		{
		from {opacity: 1;font-size: 18px;}
		to {opacity: 0;font-size: 15px;}
		}
.fin{
	animation:fin 1s;
	-moz-animation:fin 1s; /* Firefox */
	-webkit-animation:fin 1s; /* Safari and Chrome */
	-o-animation:fin 1s; /* Opera */
}

.time-btn-back{
	display: none;
	position: fixed;
	bottom: 352px;
	right: 30px;
	width: 30px;
	height: 30px;
	z-index: 10;
	text-align: center;
	opacity: 0;
	color: red;
	cursor: pointer;
}
.time-btn-back span{
	font-size: 18px;
	line-height: 30px;
}


@media screen and (max-width: 1744px){
	.item-table-box{
		height: 900px;
	}
	.item-func-content{
		position: fixed;
		float: none;
		bottom: 40px;
		right: 0;
		width: 460px;
		height: 350px;
		margin-right: -500px;
		z-index: 1;
	}
	.item-table,
	.item-content{
		float: none;
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;
	}
	.item-content{
	}
	.item-func{
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.progress{
		width: 85%;
	}
	.time-btn-box{
		display: block;
	}
	.i-c-i-conctnt{
		width: 100%;
	}
	.i-c-i-bottom{
		position: absolute;
		top: 50px;
		right: 50px;
		width: 55%;
		height: 60%;
		overflow-y:auto; 
	}
	.r-s-inner-box2 select{
		width: 50%;
	}
	

}







