
/* footer_css */

#footer {height: 303px;background: url(../../img/footer_img/footer_bg.png) repeat-x;}

.search2 {position:absolute;left:670px;top:14px; width:290px;height:30px; background:url(../../img/header_img/gider.png)no-repeat;}
.search2 .text{float:left; width: 232px;height:30px;background:none;border: none;font-size:13px;font-family: Arial;color: #666666;padding-left:14px;outline:none;}
.search2 .btn{ float:left; width: 44px;height: 30px;background:url(../images/bottom/toplogo_03.png) no-repeat;outline:none;border:none;}

#foot{  height:303px; background:url(../../img/footer_img/footer_bg.png)repeat-x;margin:0 auto;}

.foot_top { width:950px;height: 60px; margin:0 auto;position:relative;}
.foot_top li p {font-size:14px;color:#cbcbcb;font-weight:bold;}
.shield{height:60px; background:url(../../img/footer_img/shield.png) no-repeat 16px 4px;padding: 22px 76px;}
.box{height:60px; background:url(../../img/footer_img/box.png)no-repeat 16px 10px;padding: 22px 62px;position:absolute;top:0px;left:350px;}

.row_collapse {float: left;  width: 1000px;padding: 34px 0px 0px 220px; }/*用padding变小窗口不会动。前面各处更改*/
.row_collapse .fcoll { float: left;padding: 0px 0px 0px 0px; }
.row_collapse .trigger { color:#FFFFFF;margin:0px 104px 30px 0px;}
.row_collapse a { line-height: 22px;text-decoration:none;font-size: 13px;color: #cfcfcf}
.row_collapse .fcoll p {line-height: 22px; font-size: 13px;color: #cfcfcf;}
.row_collapse .send {font-size: 13px; color: #ffcc00;}
.row_collapse .fcoll span {font-size: 13px;color: #cfcfcf;}
.row_collapse a:hover { color:#795E9A;}