
/* nav_css */

#nav { width:960px;height: 36px;padding-top: 7px; margin: 0 auto;}
#nav li { float: left;height:26px;margin-right:8px;  }
#nav a { float: left;height:26px;
text-decoration:none;color:#FFFFFF;font-size: 15px;font-family: arial; line-height:28px;/*font-weight:normal；加粗是strong带来，给strong也行*/}/*这行设置文字样式*/
#nav strong { float: left;height:26px;font-weight:normal}
#nav span { float: left;height:26px;padding: 0 16px;}
#nav a:hover ,#nav .active a {background: url(../../img/nav_img/nav_active_bg.png)repeat-x 0 -56px;}
#nav a:hover strong,#nav .active strong {background:url(../../img/nav_img/nav_active_bg.png) no-repeat;}
#nav a:hover span,#nav .active span {background: url(../../img/nav_img/nav_active_bg.png) no-repeat right -28px;}
/*上面有写当active时，块的状态的样式*/


