* {
	padding: 0px;
	margin:0px;
	box-sizing: border-box;

}

.container {
	width: 100%;
	border: #999 solid 1px;
	padding: 20px 0px 0px 20px;
}

.container div {
	height: 100px;
	background-color: #eee;
	border: #999 solid 1px;
	color: red;
	margin:10px;
	padding: 10px;
	float: left;
	
}

.col-sm-3 {
	width: calc(25% - 20px);
}

.col-sm-6 {
	width: calc(50% - 20px);
}
@media screen and (min-width: 768px){
	.col-sm-1 {
		width: calc(8.333333% - 20px);
	}

	.col-sm-2 {
		width: calc(16.666666% - 20px);
	}

	.col-sm-4 {
		width: calc(33.33% - 20px);
	}

	.col-sm-6 {
		width: calc(50% - 20px);
	}
}

@media screen and (max-width: 768px){
	.col-xs-2 {
		width: calc(16.666666% - 20px);
	}

	.col-xs-3 {
		width: calc(25% - 20px);
	}

	.col-xs-6 {
		width: calc(50% - 20px);
	}

	.col-xs-8 {
		width: calc(66.66% - 20px);
	}

	.col-xs-12 {
		width: calc(100% - 20px);
	}
}