body, ul, ol, li, p, h1, h2, h3, form, table, td, tr, th, img, div, input, select {margin: 0; padding: 0;}
img {border: none;vertical-align: top;}
ul li {list-style: none;}
input, select, textarea {outline: none;}
textarea {resize: none;overflow: auto;  }
a {text-decoration: none;}
table {border-collapse: collapse;}
header{min-width:723px;}
header {
    background: url(images/nav.png) no-repeat #333;
    height: 60px;
    width:100%;
}
header ul {
    float: right;
    width: 356px;
}
header li {
    float: left;
    margin-top: 22px;
    margin-right: 20px;
    background: url(images/list_b.png) no-repeat;
}
header ul li a {
    font-size: 12px;
    color: #fff8ff;
    position: relative;
    top: -4px;
    left: 18px;
}
.last {
    color: #9b999c;
}
body {
    background: #dedede;
}
.contentOne,.contentTwo,.contentThree,.picture,aside{
    border:1px solid #cbcbcb;
    background:#fff;
    width:96%;
}
.contentOne{
    margin:22px  auto;
    padding-bottom:18px;
}
.contentTwo{
    margin:0 auto;
}
.contentThree{
    margin:0 auto;
}
.picture{
    margin:22px auto;
}
h2{
    margin-top:36px;
    margin-left:22px;
    font-size:22px;
    color:#050003;
}
h3{
    margin-top:18px;
    margin-left:22px;
    font-size:16px;
    color:#7f7a80;
}
.message{
    display:block;
    margin-top:16px;
    margin-left:22px;
    margin-bottom:11px;
    font-size:12px;
    color:#686a76;
}
p{
    margin:9px 22px;
    line-height:25px;
}
img{
    margin:13px 22px;
}
aside{
    height:496px;
    margin:40px auto;
}
.list{
    margin-left:39px;
    line-height:25px;
    font-size:15px;
    margin-bottom:20px;
}
.example,.example-last{
    width:120px;
    height:124px;
    font-size:12px;
    border:1px solid #cdcdcd;
    margin-top:24px;
    margin-left:61px;
}
.pic2{margin-left:10px;margin-top:-8px;}
.example-last{margin-bottom:36px;}
.rank{
    margin-left:60px;
    line-height:28px;
    font-size:16px;
    color:#010103;
}
table{
    width:97%;
    border:1px solid #e6e6e6;
}
.table{
    margin-left:20px;
    margin-top:12px;
    margin-bottom:20px;
}
.table th{
    font-size:12px;
    color:#fff;
    background:#333333;
    padding-left:6px;
}
.table td{
    font-size:12px;
    padding-top:5px;
    padding-left:6px;
}
.trLast{background:#ccc;font-weight:bold;}
.tdLast a{text-decoration:underline;color:#66158d;}
aside h3{
    font-size:14px;
    color:#000;
    padding-left:8px;
    background:url(images/h3_bg.png) no-repeat;
    margin-top:30px;
}
.message1{
    margin-top:28px;
    margin-left:269px;
}
.message1 span,.message3 span{
    display:block;
    margin-top:12px;
    margin-left:102px;
    color:#9c9c9a;
}
form input{margin-left:14px;}
.message1,.message2,.message3,.message4,.message5,.message6,.message7{
    font-size:12px;
    color:#000228;
}
.message2{
    margin-left:292px;
    margin-bottom:10px;
}
.message3{
    margin-left:269px;
}
.message4{margin-top:24px;}
.message4,.message5,.message6{
    margin-left:329px;
    margin-bottom:11px;
}
.message5 select,.message7 textarea{margin-left:12px;}
.message7{
    margin-top:3px;
    margin-left:306px;
}
.message7 textarea{
    height:98px;
    width:63%;
    border:1px solid #9a9a9a;
}
.message7 label{float:left;}
.button{
    width:96%;
    height:38px;
    background:#3355d0;
    color:#fff;
    margin-top:10px;
    border-radius:10px;
}
footer{
    height:70px;
    background:#000;
    color:#fff;
    text-align:center;
    line-height:70px;
    font-size:12px;
}