@charset "utf-8";
/* CSS Document of task-1-8 */

/*body*/
body { padding:0px; margin:0px; }
#wrap { padding:10px; box-sizing:border-box; width:100%; }
.col { padding:10px; box-sizing:border-box; float:left; }
.wrap:before,.wrap:after { content:""; display:table; clear:both; }
.inside { height:50px; margin:10px; border:1px solid #999; background-color:#eee; list-style:none; }

/*≥768px*/
@media (min-width:769px) 
{
.col-md-1 { width:10%; }
.col-md-2 { width:15%; }
.col-md-3 { width:25%}
.col-md-4 { width:33.33333%; }
.col-md-6 { width:50%; }
}

/*≤768px*/
@media (max-width:768px) 
{
.col-sm-2 { width:15%; }
.col-sm-3 { width:25%; }
.col-sm-6 { width:50%; }
.col-sm-8 { width:70%; }
.col-sm-12 { width:100%; }
}

