@charset "utf-8";
/* task_3 */
body,ul,li{margin:0px;padding:0px;list-style:none;}
.clear{zoom:1}
.clear:after{display:block;content:"";clear:both;}

#Content{width:100%;padding:20px; background:#eee;}
.warp-center{margin-left:210px;margin-right:130px;height:318px;}
.Con-left,.Con-right,.warp-center{border:1px solid #999;background:#FFF;padding:20px;}
.Con-left{width:158px;height:80px;float:left;}
.Con-right{width:78px;height:338px;float:right;}

.Con-left span{font-size:14px;float:right;}
.Con-right li{display:block; width:80px;height:80px;background:url(imgage/logo2.png) no-repeat;margin-bottom:6px;}