@charset 'utf-8';
*{
	margin: 0;
	padding: 0;
	font-family: "Arial";
}
.wrap{
	min-width: 1200px;
}
header{
	width: 100%;
	background-color: #1f0401;
}
.guide_wrap{
	height: 30px;
	width: 960px;
	margin: 0 auto;
}
.header_guide{
	overflow: hidden;
	float: left;
	margin-right: 160px;
}
.header_guide li{
	float: left;
	color: #c0c0c0;
	font-size: 12px;
	line-height: 30px;
	list-style-type: none;
	margin-right: 15px;
	cursor: pointer;
}
.header_guide li:last-child{
	margin-right: 0;
}
.icon{
	width: 325px;
	height: 100%;
	float: left;
}
.icon img{
	vertical-align: middle;
}
.icon img:first-of-type{	
	margin:{
		right: 10px;
	}
}
.icon img:nth-of-type(3){
	margin-right: 10px;
}
.icon b{
	font-size: 12px;
	color: #fff;
	line-height: 30px;
	margin-right: 35px;
}
.icon b:last-of-type{
	margin-right: 25px;
}
.search_bar{
	height: 100px;
	width: 100%;
	background:{
		image:url(../img/Layer-3.png),
			  url(../img/Layer-1.png);
		size:960/1600*100% 100%,100% 100%;
		position: center center,left top;
		repeat:no-repeat;
	}
}
.search_bar>div[class$="wrap"]{
	float: left;
}
.shop_wrap{
	height: 100%;
	margin-left: 280px;
}
.shop_wrap img{
	vertical-align: middle;
	margin: 6px 0;
	float: left;
}
.shop_wrap div{
	float: left;
	margin-top: 35px;
}
.shop_wrap span{
	display: inline-block;
	font-size: 20px;
	color: #f7f7f7;
	margin-top: -6px;
}
.shop_wrap input{
	display: block;
	border-radius: 20px;
	height: 25px;
	width: 115px;
	background-color: #b20e00;
	color: #ffc200;
	font:{
		size:15px;
		weight: bold;
	}
	border: 1px solid #b71c0f;
	border-style: inset;
	margin:{
		top: 10px;
		left: 25px;
	}
	outline: none;
	cursor: pointer;
}
.header_wrap{
	margin-left: 100px;
	padding: 5px 0;
}
.search_wrap{
	margin-left: 65px;
	font-size: 0;
	margin-top: 34px;
}
.input_wrap1{
	display: inline-block;
	float: left;
	height: 34px;
	width: 250px;
}
.input_wrap2{
	display: inline-block;
	width: 41px;
	height: 34px;
}
.input_wrap1 input{
	padding-left: 20px;
	width: 230px;
	height: 34px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	background:{
		image:  url(../img/Layer-14-copy-2.png);
		repeat: no-repeat;
		position: left;
		size:280px 34px;
	}
	outline: none;
}
.input_wrap2 input{
	width: 41px;
	height: 34px;
	background:{
		image: url(../img/GO-copy.png),
			   url(../img/Layer-15-copy.png);
		repeat:no-repeat;
		size:22px 17px,45px 34px;
		position: center center;
	}
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	outline: none;
	cursor: pointer;
}
.nav_bar{
	width: 100%;
	height: 63px;
	background:{
		image:url(../img/Layer-2.png);
		size:100% 100%;
	}
	border-top: 1px solid #fa8749;
	box-shadow: 0 3px 7px #000 ;
}
.nav_bar ul{
	overflow: hidden;
	margin: 0 auto;
	width: 960px;
}
.nav_bar ul li{
	float: left;
	list-style-type: none;
	font-size: 16px;
	line-height: 63px;
	color: #fff;
	width: (960px / 9);
	height: 63px;
	text-align: center;
	cursor: pointer;
	&:hover{
		background:url(../img/Layer-20.png) no-repeat center;
	}
}
.nav_bar ul li:first-child{
	background:url(../img/Layer-20.png) no-repeat center;
}
.nav_bar ul li:nth-of-type(2):hover{
	background:{
		image:url(../img/Layer-20.png);
		size:(960px/9) 30px;
	}
}
article{
	height: 1325px;
	width: 100%;
	background:{
		image:url(../img/Layer-2-copy.png);
		position: left top;
		repeat:no-repeat;
		position: 0 3px;
		size:100%;
	}
	overflow: hidden;
}
.content_wrap{
	width: 960px;
	height: 1325px;
	margin: 20px auto;
	border-top:{
		left-radius:15px;
		right-radius:15px;
	}
	background-color: #fff;
	box-shadow: 3px 0 5px #cecdc8,-3px 0 5px #cecdc8;
	border-bottom: none;
}
.content_header{
	width: 100%;
	height: 330px;
	background:url(../img/Layer-5.png) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
}
.content_header h1{
	display: inline-block;
	font-size: 43px;
	color: #fff;
	margin:{
		top: 55px;
		left: 105px;
	}
	text-shadow:2px 2px 4px #6abff3;
}
.content_header img:first-of-type{
	position: absolute;
	left: 75px;
	top: 93px;
}
.content_header img:nth-of-type(2){
	position: absolute;
	left: 515px;
	top: 70px;
}
.content_header img:nth-of-type(3){
	position: absolute;
	left: 690px;
	top: 15px;
}
.cover{
	width: 930px;
	height: 53px;
	position: absolute;
	left: 15px;
	bottom: 15px;
	background-color: #292c22;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.cover span{
	color: #ffc600;
	font:{
		size:25px;
		weight: bold;
	}
	line-height: 53px;
	margin-left: 35px;
	float: left;
}
.cover p{
	font-size: 13px;
	color: #ffcccc;
	float: right;
	width: 635px;
	height: 35px;
	margin-top: 15px;
}
aside{
	float: left;
	margin-left: 10px;
}
.browse_categories{
	width: 209px;
	height: 391px;
	border: 1px solid #f3dc94;
	border-radius: 10px;
	background-color: #ffeeb7;
}
.browse_categories h2{
	width: 100%;
	height: 30px;
	background-image: url(../img/Layer-8.png);
	font-size: 15px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
.browse_categories ul{
	width: 195px;
	margin: 15px auto;
}
.browse_categories ul li{
	list-style-type: none;
	width: 165px;
	height: 30px;
	border-bottom: 1px solid #fff;
	color: #434343;
	font:{
		size:12px;
		weight:bold;
	}
	line-height: 30px;
	padding-left: 30px;
	cursor: pointer;
}
.browse_categories ul li:nth-of-type(2){
	color: #b20e00;
}
.join{
	width: 209px;
	height: 330px;
	border: 1px solid #e8e8e3;
	border-radius: 10px;
	margin-top: 13px;
	background-color: #f5f5f2;
}
.join p{
	font-size: 15px;
	color: #666;
	width: 185px;
	height: 35px;
	margin: 17px auto;
}
.join input:first-of-type{
	width: 175px;
	height: 25px;
	border: none;
	border:{
		top: 1px solid #9c9c9c;
		left: 1px solid #c0c0c0;
	}
	margin-left: 15px;
}
.join input:last-of-type{
	width: 88px;
	height: 25px;
	background-image: url(../img/Layer-24.png);
	border: none;
	color: #fff;
	font-size: 15px;
	border-radius: 5px;
	margin: {
		left: 60px;
		top: 7px;
	}
	cursor: pointer;
	outline: none;
}
.join ul{
	width: 195px;
	margin: 13px auto;
}
.join ul li{
	width: 195px;
	height: 45px;
	list-style-type: none;
	border-top: 1px solid #fff;
	overflow: hidden;
	cursor: pointer;
}
.join ul li img{
	vertical-align: middle;
	float: left;
	margin: 7px 18px;
}
.join ul li span{
	font-size: 13px;
	color: #434343;
	margin-top: 10px;
	display: block;
}
.join ul li:first-of-type span{
	margin-top: 0;
	line-height: 45px;
}
.ad{
	margin:{
		top: 30px;
	}
	padding-left: 20px;
	display: flex;
	flex-direction:column;
	align-items:center;
}
.ad img{
	margin-top: 10px;
	cursor: pointer;
}
.ad img:first-of-type{
	margin-top: 0;
}
.mid_content{
	float: left;
	margin-left: 25px;
	font-size: 12px;
	color: #747474;
	width: 710px;
	border-bottom: 1px solid #cdcdc8;
}
.sort select{
	width: 110px;
	height: 20px;
	border: 1px solid #ccc;
	font-size: 12px;
	color: #747474;
	background: url(../img/Layer-12.png) no-repeat right;
	appearance:none;   
	-moz-appearance:none;   
 	-webkit-appearance:none; 
 	margin-right: 12px;
}
.sort select::-ms-expand{ 
	display: none;
}
.item_page{
	float: right;
}
.item_page span{
	color: #b20e00;
}
.mid_content_h2{
	font-size: 18px;
	color: #666666;
	margin-top: 25px;
}
.items_info{
	overflow: hidden;
	width: 100%;
	margin-top: 17px;
}
.items_info li{
	width: 156px;
	height: 156px;
	list-style-type: none;
	float: left;
	margin:{
		right: 28px;
		bottom: 50px;
	}
	cursor: pointer;
}
.items_info li:nth-of-type(4n){
	margin-right: 0;
}
@for $i from 1 through 4{
	.items_info li:nth-last-of-type(#{$i}){
		margin-bottom: 0;
	}
}
.items_info li dd:first-of-type{
	font:{
		size:15px;
		font-weight: bold;
	}
	color: #666;
}
.items_info li dd:last-of-type{
	font-size: 13px;
	color: #333333;
	span{
		color: #b20e00;
	}
}
.index{
	overflow: hidden;
	width: 210px;
	margin: 45px auto 5px;
}
.index li{
	list-style-type: none;
	float: left;
	color: #b20e00;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}
@for $i from 1 through 7{
	@if($i==1){
		.index li:nth-of-type(#{$i}){
			background-color: #b20e00;
			width: 20px;
			height: 20px;
			color: #fff;
		}
	}
	@else if($i>5){
		.index li:nth-of-type(#{$i}){
			width: 55px;
			height: 20px;
		}
	}
	@else{
		.index li:nth-of-type(#{$i}){
			width: 20px;
			height: 20px;
		}
	}
}
.content_foot{
	margin:{
		top: 20px;
		left: 24px;
	}
	width: 715px;
	height: 250px;
	float: left;
}
.content_foot h3{
	@extend .mid_content_h2;
	font-weight: normal;
	margin-top: 0;
}
.fea_pro{
	position: relative;
	width: 690px;
	height: 180px;
	margin-top: 16px;
	background:{
		image: url(../img/Layer-29.png);
		size:100% 100%;
	}
	overflow: hidden;
}
.left_arr{
	position: absolute;
	top: 40%;
	left: 2px;
	cursor: pointer;
}
.fea_pro img:nth-of-type(2){
	position: absolute;
	right: 2px;
	top: 40%;
	cursor: pointer;
}
.img_wrap{
	width: 556px;
	height: 140px;
	margin: 25px auto 20px;
}
.img_wrap li{
	float: left;
	list-style-type: none;
	margin-right: 58px;
	width: 145px;
	height: 140px;
	cursor: pointer;
}
.img_wrap li:last-child{
	margin-right: 0;
}
.img_wrap li img{
	width: 145px;
	height: 100px;
}
.img_wrap li p{
	color:#660000;
	font-size: 12px;
	text-align: center;
}
footer{
	width: 100%;
	height: 303px;
}
.foot_search{
	width: 100%;
	height: 60px;
	background: {
		image: url(../img/Layer-39.png);
		size:100% 100%;
	}
}
.foot_wrap{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
.foot_wrap ul{
	overflow: hidden;
}
.foot_wrap ul li{
	float: left;
	list-style-type: none;
}
.foot_wrap ul li:first-of-type{
	margin-right: 45px;
}
.foot_wrap ul li:nth-of-type(2){
	margin-right: 60px;
}
.foot_wrap ul li:last-child{
	font-size: 0;
	margin: 14px 0;
}
.foot_wrap ul li img{
	vertical-align: middle;
}
.foot_wrap ul li:first-of-type{
	font-size: 14px;
	color: #cbcbcb;
	font-weight: bold;
	line-height: 60px;
}
.foot_wrap ul li:nth-of-type(2){
	font-size: 14px;
	color: #cbcbcb;
	font-weight: bold;
	line-height: 60px;
}
.foot_bottom{
	width: 100%;
	height: 243px;
	background: {
		image:url(../img/Layer-38.png);
		size:100% 100%;
	}
	overflow: hidden;
}
.copyright{
	width: 960px;
	margin: 33px auto;
}
.copyright ul{
	overflow: hidden;
}
.copyright ul li{
	float: left;
	width: ((960px -320)/5);
	list-style-type: none;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	margin-right: 40px;
}
.copyright>ul>li:last-of-type{
	margin-right: 0;
}
.copyright>ul>li>ul{
	margin-top: 25px;
}
.copyright>ul>li>ul>li{
	font-size: 13px;
	color: #cfcfcf;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	float: none;
	cursor: pointer;
}
.copyright>ul>li:last-child>ul>li:nth-of-type(4) span{
	color: #ffcc00;
}