*{ box-sizing: border-box; }

li{ padding: 20px; border: 1px solid #999; background: #eee; list-style: none; font-size: 12px; color: red;}
.row1{  }
.no1{ width: 33.33%; height: 50px;   }
.no2{ width: 33.33%; height: 50px;  position: relative; left: 480px; top: -50px;}
.no3{ width: 33.33%; height: 50px;  position: relative; left: 960px; top: -100px;}
.row2{  }
.no4{ width: 25%; height: 50px;  position: relative; top: -80px;}
.no5{ width: 50%; height: 50px; position: relative; left: 375px; top: -130px; }
.no6{ width: 25%; height: 50px; position: relative; left: 1072px; top: -180px; }
.row3{  }
.no7{ width: 8.33%; height: 50px; position: relative; top: -158px; }
.no8{ width: 8.33%; height: 50px;  position: relative; left: 154px; top: -208px;}
.no9{ width: 16.66%; height: 50px; position: relative; left: 308px; top: -258px; }
.no10{ width: 16.66%; height: 50px; position: relative; left: 570px; top: -308px; }
.no11{ width: 50%; height: 50px; position: relative; left: 835px; top: -358px; }