body {
	background: rgb(255,255,255);
}
#begin {
	background-color: rgb(33,138,191);
	border-color: rgb(75,159,203);
	font-size: 12px;
	font-weight: bold;
	font-family: "AdobeHeitiStd R";
}
.menu {
	background: rgb(42,46,61);
}
.m_1 {
	font-size:16px;
	font-family: "SimHei";
}
.m_1 a {
	color: rgb(237,237,240);
	font-size: "16px";
	font-family: "SimHei";
}
.m_2 {
 color:;
	font-size: 13px;
	font-family: "SimHei";
}
.m_2 strong {
	font-size:16px;
	font-family: "SimHei";
}
.m_2 span {
	font-size: 12px;
	font-family: "SimSun ";
}
.m_2_1 li {
	color:#6e8095;
	border-color: rgb(50,54,71);
}
.m_s {
	font-size: 12px;
	font-family: "simsum";
}
.m_3 {
	color:#6e8095;
	font-size:12px;
	font-family: "SimHei";
}
.m_3 a {
	color:#6e8095;
	font-size:12px;
	font-family: "SimHei";
}
.er {
	background: #383d4e;
}
.ce li:hover {
	color: #ededf0;
	background: #383d4e;
}
.content .con_top {
	background: #ffffff;
	color: #e3e3e3;
	font-family:"SimHei";
	font-size:12px;
}
.con_top span a {
	color: #e3e3e3;
}
p a:hover {
	color: #bfd3e4;
}
.m_3 a.xz {
	background: url(../images/left2.png) no-repeat 50px 14px #383d4e;
	color: #ededf0;
}
a.sen_x {
	background: url(../images/left33.png) no-repeat 70px 15px;
	color: #ededf0;
}
.con_top span.top_liang {
	color:#adc5dc;
}
.content .con_bottom .con_b1 {
	color: #ffffff;
	font-family:"SimHei";
	font-size:12px;
}
.sec_se {
	background: url(../images/sec_se.png) no-repeat;
}
.con_b1 form {
	border:1px solid #e3e3e3;
}
.con_b1 .sec_6 input {
	color: #fff;
	font-size: 12px;
	font-family: "SimHei";
}
.con_b2 .fxui-tab-tit {
	background: #ecedee;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #535353;
}
.con_rl a span, .content .con_l2 p {
	height: 20px;
	font-size:12px;
	font-family:"Microsoft YaHei ";
}
.content .wenzi {
	color: #757572;
	background: #f4f5f7;
}
.content .wenzi, .con_b3 {
	color: #757572;
	font-size: 12px;
	font-family:"Microsoft YaHei ";
}
.content .con_b2 {
	background: #ffffff;
}
.con_b2 table td {
	color: #757572;
}
.con_b3 input, .con_b3 textarea {
	color:#434342;
}
.con_b1 select option {
	color: #323333;
	font-family: "SimHei";
	font-size: 12px;
}
.content .b4 {
	background: #ffffff;
}
.content .con_l3 {
	font-size: 11px;
	font-family: "SimHei";
	background: #ffffff;
}
.con_l3 .con_l3-1 .last1 {
	font-size: 13px;
}
.tr-hover {
	cursor: pointer;
	background: #f4f5f6;
}
