@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

ul,li,ol,dl,dt,dd{
	list-style:none;
}

a {
	text-decoration: none;
} 

.head {
	height: 56px;
	width: 1280px;
	margin: 0 auto;
	background-color: #2189bf;
	position: relative;
}

#logo {
	padding-top: 10px;
	padding-left: 50px;
	position: absolute;
}

#search {
	padding-top: 14px;
	padding-left: 810px;
}

.topInput {
	width: 313px;
	height: 28px;
	border-radius: 12px;
	border-style: none;
	background-image: url(../images/individualPage/2_06.png);
	background-position: 10px;
	background-repeat: no-repeat;
}

#login {
	margin-top: -22px;
	margin-left: 1145px;
	font-size: 12px;
}

#login a {
	color: white;
}

#content {
	width: 1280px;
	margin: auto;
}

#leftColumn {
	width: 260px;
}

#user {
	height: 150px;
	background-color: #2a2e3d;
}

#icon img {
	position: absolute;
	margin-top: 18px;
	margin-left: 44px;
}

#name {
	position: absolute;
	padding-top: 40px;
	margin-left: 120px;
	font-size: 16px;
}

#user a {
	text-decoration: none;
	color: white;
}

#user a:hover {
	color: darkgrey;
}

#num1 {
	position: absolute;
	margin-left: 63px;
	margin-top: 99px;
	font-size: 16px;
}

#num2 {
	position: absolute;
	margin-left: 150px;
	margin-top: 99px;
	font-size: 16px;
}

#collection  {
	position: absolute;
	margin-left: 63px;
	margin-top: 116px;
	font-size: 12px;
}

#fans {
	position: absolute;
	margin-left: 150px;
	margin-top: 116px;
	font-size: 12px;
}

#user #num1,#user #num2,#user #collection,#user #fans {
	color: #6a7c90;
}

#user #num1:hover,#user #num2:hover,#user #collection:hover,#user #fans:hover {
	color: antiquewhite;
}

#navi {
	height: 1210px;
}

.leftsidebar_box{overflow:visible !important;height:100% !important;background-color:#2a2e3d;}
/*.line{height:2px;width:100%;background-image:url(images/left/line_bg.png);background-repeat:repeat-x;}*/
.leftsidebar_box dt{background-image: url(../images/individualPage/2_20.png);height: 50px; padding-left:70px;background-repeat:no-repeat;background-position:45px center;color:#f5f5f5;font-size:12px;line-height:50px;cursor:pointer;}
.leftsidebar_box dd{background-color:#383d4e;padding-left:40px;}
.leftsidebar_box dd a{color:#f5f5f5;line-height:20px;}

.custom dt{background-image:url(../images/individualPage/2_32.png)}
.channel dt{background-image:url(../images/individualPage/2_34.png)}
.app dt{background-image:url(../images/individualPage/2_32.png)}
.cloud dt{background-image:url(../images/individualPage/2_32.png)}
.syetem_management dt{background-image:url(../images/individualPage/2_36.png)}

.st_tree a{text-decoration:none;}
/* 鼠标经过的超链接 */
.st_tree a:hover{color:#ededf0;text-decoration:none;}
/* 菜单 */
.st_tree ul{padding:10px 18px;margin:0px;}
/* 菜单项 */
.st_tree ul li{font-size:13px;color:#222;line-height:18px;cursor:pointer;list-style:none;background:url(imgs/st_node.gif);background-repeat:no-repeat;padding:0 0 3px 20px;}
/* 子菜单 */
.st_tree ul li ul{}
/* 子菜单项 */
.st_tree ul li ul li{}
/* 子菜单的父节点 */
.st_tree .folder{list-style-image:url(imgs/st_icon.png);background:url(imgs/st_folder.gif);background-repeat:no-repeat;padding:0 0 0 20px;}
/* 展开的父节点 */
.st_tree .open{list-style-image:url(imgs/st_icon_open.png);background:url(imgs/st_folder_open.gif);background-repeat:no-repeat;padding:0 0 0 20px;}

#rightColumn {
	width: 1020px;
}

#rigColHead {
	width: 1020px;
	height: 30px;
	position: absolute;
	margin-left: 260px;
	margin-top: -1360px;
	background-color: white;
}

#rigColHead a {
	display: inline-block;
	text-decoration: none;
	font-family: "黑体";
	font-size: 12.28px;
	color: #b7b7b7;
}

#rigColHeadTitle {
	width: 50%;
	height: 11px;
	position: absolute;
	margin-top: 5px;
	margin-left: 30px;
}

#rigColHead a:hover {
	color: #2289bf;
}

#rigColBody {
	width: 1020px;
	height: 1330px;
	position: absolute;
	margin-left: 260px;
	margin-top: -1330px;
	background-color: #eeeeed;
}

#menu {
	width: 890px;
	height: 85px;
	position: absolute;
	margin-top: 20px;
	margin-left: 60px;
	background-color: #FFFFFF;
}

#menu select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写一下*/
  border: solid 2px #b7b7b7;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../images/individualPage/2_39.png") no-repeat scroll right center transparent;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 10px;
}

#menu input {
  border: solid 2px #b7b7b7;
} 

#query0 {
	position: absolute;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 12px;
	color: #b7b7b7;
}

#query {
	width: 70px;
	height: 25px;
	position: absolute;
	margin-top: 15px;
	margin-left: 80px;
}

#query select {
	width: 70px;
	height: 25px;
	padding: 0 0 0 8px;
}

#buyer0 {
	position: absolute;
	margin-top: 20px;
	margin-left: 190px;
	font-size: 12px;
	color: #b7b7b7;
}

#buyer {
	width: 120px;
	height: 25px;
	position: absolute;
	margin-top: 15px;
	margin-left: 230px;
}

#buyer select {
	width: 120px;
	height: 25px;
	padding-left: 10px;
}

#seller0 {
	position: absolute;
	margin-top: 50px;
	margin-left: 190px;
	font-size: 12px;
	color: #b7b7b7;	
}

#seller {
	position: absolute;
	margin-top: 47px;
	margin-left: 230px;
}

#seller select {
	width: 120px;
	height: 25px;
	padding-left: 10px;
}

#date0 {
	position: absolute;
	margin-top: 20px;
	margin-left: 410px;
	font-size: 12px;
	color: #b7b7b7;
}

#date {
	position: absolute;
	margin-top: 15px;
	margin-left: 450px;
}

#date input {
	width: 120px;
	height: 25px;
	padding-left: 10px;
}

#peopleNum0 {
	position: absolute;
	margin-top: 50px;
	margin-left: 410px;
	font-size: 12px;
	color: #b7b7b7;
}

#peopleNum {
	position: absolute;
	margin-top: 47px;
	margin-left: 450px;
}

#peopleNum select {
	width: 70px;
	height: 25px;
	padding-left: 10px;
}

#totalTime0 {
	position: absolute;
	margin-top: 20px;
	margin-left: 583px;
	font-size: 12px;
	color: #b7b7b7;
}

#totalTime {
	position: absolute;
	margin-top: 15px;
	margin-left: 630px;
}

#totalTime select {
	width: 70px;
	height: 25px;
	padding-left: 10px;
}

#transaction0 {
	position: absolute;
	margin-top: 50px;
	margin-left: 532px;
	font-size: 12px;
	color: #b7b7b7;
}

#transaction {
	position: absolute;
	margin-top: 47px;
	margin-left: 580px;
}

#transaction select {
	width: 70px;
	height: 25px;
	padding-left: 10px;
}

#search2 {
	position: absolute;
	margin-top: 32px;
	margin-left: 728px;
}

#search2 input,#formButton input {
	width: 50px;
	height: 25px;
	border: none;
	border-radius: 4px;
	color: #FFFFFF;
	background-color: #388ac1;
}

#search2 input:hover,#formButton input:hover {
	background-color: #579ECE;
}

#slideBar {
	width: 890px;
	height: 65px;
	position: absolute;
	margin-top: 115px;
	margin-left: 60px;
	float: left;
}

#leftButton {
	width: 35px;
	height: 65px;
	float: left;
}

#leftButton a:hover img,#rightButton a:hover img {
	border: 1px groove #F1F0F0;
}

#myScroll {
	display: block;
	width: 685px;
	height: 65px;
	position: absolute;
	margin-left: 35px;
	overflow: hidden;	
}

#myScroll #myScrollBox {
	width: 80000px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
}

#myScroll ul {
	display: block;
	float: left;
	list-style-type: none;
}

#myScroll ul li {
	width: 115px;
	height: 65px;
	display: block;
	float: left;
}

#myScroll ul li a {
	display: block;
	float: left;
	width: 110px;
	height: 65px;
	color: black;
	background-color: white;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}

.boxTop {
	width: 110px;
	height: 8px;
	margin-top: -4px;
	background-color: #4388c8;
}

#myScroll a:hover {
	background-color: #F0ECEC;
}

#myScroll a:hover .boxTop {
	margin-top: 0px;
}

.price {
	color: #aeaeae;
}

.price span {
	font-size: 20px;
	color: #ec6500;
}

#rightButton {
	width: 30px;
	height: 65px;
	float: right;
	margin-right: 135px;
}

#history {
	width: 130px;
	height: 65px;
	position: absolute;
	margin-left: 760px;
	background-color: white;
	background-image: url(../images/individualPage/2_18.png);
	background-repeat: no-repeat;
	background-position: 20px;
}

#history p {
	position: absolute;
	margin-top: 28px;
	margin-left: 62px;
	font-size: 12px;
	color: #535353;
}

#slideBar>a p:hover {
	font-weight: bold;
}

#myCaption {
	position: absolute;
	margin-top: 200px;
	margin-left: 60px;
	font-size: 12px;
	color: #323333;
}

#statisticsBlock {
	width: 890px;
	height: 70px;
	position: absolute;
	margin-top: 220px;
	margin-left: 60px;
}

#block1 {
	width: 200px;
	height: inherit;
	position: absolute;
	margin-top: 0;
	margin-left: 0;
	background-color: white;
}

#block1 a {
	display: block;
	width: 200px;
	height: 70px;
}

#block1 a:hover .blockLine2 {
	color: #C4C4C4;
}

#block1 a:hover #rightBlock1 {
	width: 70px;
	height: 56px;
	position: absolute;
	margin-top: 6px;
	margin-left: 120px;
}

#edge1 {
	width: 4px;
	height: inherit;
	background-color: #44b29e;
	float: left;
}

.blockLine1 {
	position: absolute;
	margin-top: 17px;
	margin-left: 12px;
	font-size: 12px;
	font-family: "黑体";
	color: #494949;
}

.blockLine2 {
	position: absolute;
	margin-top: 40px;
	margin-left: 12px;
	font-size: 10px;
	font-family: "黑体";
	color: #b0b0b0;
}

#rightBlock1 {
	width: 60px;
	height: 48px;
	position: absolute;
	margin-top: 11px;
	margin-left: 125px;
	background-color: #44b29e;
}

#block2 {
	width: 200px;
	height: inherit;
	position: absolute;
	margin-top: 0;
	margin-left: 230px;
	background-color: white;
}

#block2 a {
	display: block;
	width: 200px;
	height: 70px;
}

#block2 a:hover .blockLine2 {
	color: #C4C4C4;
}

#block2 a:hover #rightBlock2 {
	width: 70px;
	height: 56px;
	position: absolute;
	margin-top: 6px;
	margin-left: 120px;
}

#edge2 {
	width: 4px;
	height: inherit;
	background-color: #388ac1;
	float: left;
}

#rightBlock2 {
	width: 60px;
	height: 48px;
	position: absolute;
	margin-top: 11px;
	margin-left: 125px;
	background-color: #388ac1;
}

#block3 {
	width: 200px;
	height: inherit;
	position: absolute;
	margin-top: 0;
	margin-left: 460px;
	background-color: white;
}

#block3 a {
	display: block;
	width: 200px;
	height: 70px;
}

#block3 a:hover .blockLine2 {
	color: #C4C4C4;
}

#block3 a:hover #rightBlock3 {
	width: 70px;
	height: 56px;
	position: absolute;
	margin-top: 6px;
	margin-left: 120px;
}

#edge3 {
	width: 4px;
	height: inherit;
	background-color: #d04a36;
	float: left;
}

#rightBlock3 {
	width: 60px;
	height: 48px;
	position: absolute;
	margin-top: 11px;
	margin-left: 125px;
	background-color: #d04a36;
}

#block4 {
	width: 200px;
	height: inherit;
	position: absolute;
	margin-top: 0;
	margin-left: 690px;
	background-color: white;
}

#block4 a {
	display: block;
	width: 200px;
	height: 70px;
}

#block4 a:hover .blockLine2 {
	color: #C4C4C4;
}

#block4 a:hover #rightBlock4 {
	width: 70px;
	height: 56px;
	position: absolute;
	margin-top: 6px;
	margin-left: 120px;
}

#edge4 {
	width: 4px;
	height: inherit;
	background-color: #e2cd46;
	float: left;
}

#rightBlock4 {
	width: 60px;
	height: 48px;
	position: absolute;
	margin-top: 11px;
	margin-left: 125px;
	background-color: #e2cd46;
}

#block1:hover,#block2:hover,#block3:hover,#block4:hover {
	box-shadow: 5px 5px 15px 0px #999999;
}

#plugBar1 {
	width: 890px;
	height: 356px;
	position: absolute;
	margin-top: 303px;
	margin-left: 60px;
}

#plug-in1 {
	width: 531px;
	height: 356px;
	position: absolute;
	margin-top: 0;
	margin-left: 0;
	border-radius: 10px;
	background-color: lightgray;
}

#subCaption1 {
	width: 531px;
	height: 40px;
	position: absolute;
	margin-top: 0;
	margin-left: 0;
	border-radius: 10px 10px 0 0;
	background-color: #f4f6f7;
}

.publicPluginTitle {
	position: absolute;
	margin-top: 12px;
	margin-left: 20px;
	font-size: 12px;
	font-family: "黑体";
	color: #b5b5b5;
}

#tabs {
	width: 490px;
	height: 279px;
	position: absolute;
	margin-top: 53px;
	margin-left: 20px;
	border-radius: 10px;
	background-color: white;
}

#titleCard {
	width: 490px;
	height: 27px;
	padding-left: 39px;
	border-radius: 10px 10px 0 0;
	cursor: default;
	background-color: antiquewhite;
}

.tabOn{
	border: 0px solid #dadada;
	background-color: white;
}

#titleCard li {
	display: block;
	width: 82px;
	height: 29px;
	float: left;
	padding: 4px 20px;
	border-bottom: none;
}

#tabContent {
	overflow: hidden;
}

#tabContent li {
	display: none;
}

.tabText {
	font-size: 20px;
	text-align: center;
}

#plug-in2 {
	width: 351px;
	height: 356px;
	position: absolute;
	margin-top: 0px;
	margin-left: 539px;
	border-radius: 10px;
	background-color: white;
}

#subCaption2 {
	width: 351px;
	height: 40px;
	position: absolute;
	margin-top: 0;
	margin-left: 0;
	border-radius: 10px 10px 0 0;
	background-color: #f4f6f7;
}

#formTitle {
	position: absolute;
	margin-top: 56px;
	margin-left: 52px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #c3c2c2;
}

#formName {
	position: absolute;
	margin-top: 75px;
	margin-left: 52px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #535353;
}

#formPrice {
	width: 95px;
	height: 45px;
	position: absolute;
	margin-top: 98px;
	margin-left: 35px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}

.formPublicTitle {
	position: absolute;
	margin-top: 5px;
	margin-left: 17px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #c3c2c2;
}

.formPublicInfo {
	position: absolute;
	margin-top: 23px;
	margin-left: 16px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #535353;
}

#formManager {
	width: 185px;
	height: 45px;
	position: absolute;
	margin-top: 98px;
	margin-left: 130px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
}

#formDescription {
	width: 280px;
	height: 146px;
	position: absolute;
	margin-top: 143px;
	margin-left: 35px;
	border-bottom: 1px solid #e8e8e8;
}

#checkBox {
	width: 120px;
	height: 15px;
	position: absolute;
	margin-top: 300px;
	margin-left: 40px;
}

#checkDescription {
	width: 100px;
	position: absolute;
	margin-top: 2px;
	margin-left: 5px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #c3c2c2;
}

#formButton {
	position: absolute;
	margin-top: 297px;
	margin-left: 265px;
}

#calendarCaption {
	width: 350px;
	height: 40px;
	position: absolute;
	margin-top: 670px;
	margin-left: 60px;
	border-radius: 10px 10px 0 0;
	background-color: #f4f6f7;
}

#calendarContent {
	width: 350px;
	height: 315px;
	position: absolute;
	margin-top: 710px;
	margin-left: 60px;
	border-radius: 0 0 10px 10px;
	background-color: white;
}

#tableCaption {
	width: 530px;
	height: 40px;
	position: absolute;
	margin-top: 670px;
	margin-left: 420px;
	border-radius: 10px 10px 0 0;
	background-color: #f4f6f7;
}

#tableContent {
	width: 530px;
	height: 315px;
	position: absolute;
	margin-top: 710px;
	margin-left: 420px;
	border-radius: 0 0 10px 10px;
	background-color: white;
}

#theTable {
	width: 450px;
	height: 275px;
	position: absolute;
	margin-top: 20px;
	margin-left: 40px;
}

#tableHead1 {
	width: 68px;
	font-family: "黑体";
	font-size: 13px;
	text-align: center;
}

#tableHead2 {
	width: 92px;
	font-family: "黑体";
	font-size: 13px;
	text-align: center;
}

#tableHead3 {
	width: 290px;
	font-family: "黑体";
	font-size: 13px;
	text-align: center;
}

#theTable td {
	font-family: "黑体";
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}

.cols3 {
	padding-right: 183px;
}

.progressContainer {
	position: absolute;
	margin-top: -11px;
	margin-left: 105px;
	width: 167px;
	height: 5px;
}

.myProgress {
	height: 5px;
	background: #dcdcdc;
}

.myProgress span {
	float: left;
	height: 5px;
}

#progressBar1 {
	width: 140px;
	background: #ec6e51;
}

#progressBar2 {
	width: 120px;
	background: #ef8150;
}

#progressBar3 {
	width: 104px;
	background: #f19f4f;
}

#progressBar4 {
	width: 97px;
	background: #7ecaf0;
}

#progressBar5 {
	width: 86px;
	background: #7ecaf0;
}

#progressBar6 {
	width: 79px;
	background: #7ecaf0;
}

#progressBar7 {
	width: 74px;
	background: #7ecaf0;
}

#progressBar8 {
	width: 63px;
	background: #7ecaef;
}

#progressBar9 {
	width: 59px;
	background: #7ecaef;
}

#progressBar10 {
	width: 54px;
	background: #7ecaef;
}

#theTable tr:hover {
	cursor: pointer;
	background-color: #f4f5f6;
}