		
		#column-header
		{
			background-color: #fff;
			padding-left: 30px;
			padding-top: 10px;
			padding-bottom: 10px;
			
		}
		#column-search
		{
			width:100%;
			height:auto;

		}
		#column-search-box
		{
			padding: 20px 60px;
			margin: 20px 2.7% 0px 2.7%;
			background-color: #fff;
			/*border: 1px #ccc solid;*/
			line-height: 10px;
		}
		.search-box
		{
			/*float: left;*/
			display: inline-block;
			position: relative;
			padding-left: 6%;
		}
		#column-search-sel2,#column-search-sel4,#column-search-sel6
		{
			width: 150px;
		}
		#column-search-sel1,#column-search-sel3,#column-search-sel5
		{
			width: 80px;
			margin-left: 10px;
		}
		#search-box-1
		{
			top: -33px;
		}
		#search-box-5
		{
			top: -17px;
		}
		#button
		{
			border: none;
			border-radius: 5px;
			background-color: #2687BE;
			width:60px;
			height: 30px;
			color: #fff;
		}