*{
	font-family: "Microsoft YaHei";
	/*font-size:20px;*/
}
#username
{
	font-size: 20px;
	/*font-weight: bold;*/
	color: #ccc;
}
#collect-fans
{
	color: #515C6B;
}
#collect-fans .txt:hover
{
	cursor: pointer;
	color: #ccc;
}
#column-header a
{
	/*font-size: 20px;*/
	text-decoration: none;
	color: #ccc;
}
#column-header a:hover
{
	color:#2687BE;
}
#column-search span
{
	color: #BFBFBF;
}
#table-header li a
{

	text-decoration: none;
}
#table-header li
{
	padding-top: 10px;
	text-align: center;
}