#header
		{
			position: absolute;
			background-image: url(../image/logo.jpg) ;
			background-repeat: no-repeat;
			background-color: #2687BE;
			/*width: 100%;*/
			height: 56px;
			right: 0px;
			left: 0;
			top: 0;
		}
		#search
		{
			border: 1px #ccc solid;
			border-radius: 12px;
			width: 350px;
			height: 25px;
			padding-left: 30px;
		}
		#search,#login
		{
			display: inline-block;
			margin-top: 13px;
			/*position: absolute;
			right: 100px;*/
			float: right;
			margin-left: 10px;
		}
		#login
		{
			/*width: 20px;*/
			height: 25px;
			/*border: 1px red solid;*/
			margin-right: 200px;
		}
		#login-txt p
		{
			margin: 5px 0 0 10px;
		}
		/*#menu
		{
			background-color: 2a2e3d;
			width: 200px;
		}*/