#menu
		{
			position: absolute;
			/*bottom:0;*/
			height: 1785px;
			top: 56px;
			width: 300px;
			background-color: #2E313F;

		}
		#avatar-username
		{
			width: 200px;
			height: 65px;
			margin: 0px auto ;
			/*border: 1px red solid;*/
			margin-top: 40px;
		}
		#avatar-1,#username
		{
			float: left;
		}
		#avatar-1
		{
			width: 33%;
			height: 100%;
			border-radius: 50%;
			/*background-color: #2E313F; */
			border: 2px #ccc solid;

		}
		#avatar-2
		{
			width: 90%;
			height: 90%;
			border-radius: 50%;
			background-color: #ccc;
			margin: 3px auto;
		}
		#username
		{
			/*width: 40%;
			height: 40%;*/
			/*border: 1px blue solid;*/
			margin-top: 2%;
			margin-left: 10%;
		}
		#collect-fans
		{
			margin-top: 20px;
		}
		#collect-fans-box
		{
			width: 200px;
			height: 70px;
			margin:0px auto ;
		}
		#collect
		{
			float: left;
			padding-left: 20px;
			padding-right: 40px; 
		}
		#fans
		{
			float: left;
			padding-left: 40px;
		}
		#collect
		{
			border-right: 1px #515C6B solid;
		}
		.txt
		{
			margin: 0;
		}
		
		#nav
		{
			padding-left: 20px;
			line-height: 30px;
		}
		
		#nav-box ul{list-style: none; }
		#nav-box ul>li{line-height: 35px;}
		#nav-box ul>li>p{display: block;margin-right: 0; }
		#nav-box ul li p{opacity: 0.5; color: #ccc; text-decoration:none; width: 100%; padding-left: 30px;}
		#nav-box ul li ul{padding-left: 20px; display: block; line-height: 20px;}
		#nav-box ul li ul li{ line-height: 20px;}
		#nav-box ul li ul li p{padding-left: 45px; width: 100%;}
		#nav-box ul>li p:hover{color: #fff; opacity: 1; cursor: pointer;}
		#nav-box ul>li>ul>li{display: none;}
		#nav-box ul li ul li:hover p{color: #fff;}