/* 丁振越 */

body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select
{padding:0; margin:0;font-family: arial;}
li{list-style: none;}
img{border: none;}
a {text-decoration: none;}
a:hover {text-decoration:underline;}


body{
background:url(../images/body_bg.png) repeat-x;
}

#top {width:960px;height:30px;margin:0 auto;}

.top_menu {float:left;}
.top_menu  li {float:left;background: url(../hahaha/images/top_ica.png)no-repeat right 14px;font-size:13px;line-height:30px;padding-right:18px;margin-right:15px;}
.top_menu  a { color:#c0c0c0; }
.top_menu  a：hover { color:#fff;}
.top_menu  .no_dot {background:none;}

.top_bar { float:right; }
.top_bar li{float:left;height:30px;color: #fff;font-weight: bold;font-size:13px;line-height:30px;padding-left:38px;)
,top_bar .phone{background: url(../images/top_ica.png)no-repeat 0-19px;
.top_bar .help{background: url(../images/top_ica.png)no-repeat 0-45px;}
.top_bar .help a {color: #fff;}