*{
    padding: 0;
    margin: 0;
}
body,h1,h2,h3,h4,p,form,dl,dd,input,select{
    font-family: arial;
}
img{
    border: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
body{
    background: #fff url(../imgs/bg.png) repeat-x;
}
#container{
    position: relative;
    width: 960px;
    margin: 0 auto;
}
#top{
    position: relative;
}
.top_nav{
    position: relative;
    display: block;
    height: 30px;
}
.top_nav ul{
    position: relative;
    display: block;
    height: 30px;
    width: 400px;
}
.top_nav li{
    position: relative;
    line-height: 28px;
    float: left;
    margin-right: 15px;
}
.top_nav img{
    position: relative;
    left: 7px;
    top: -3px;
}
.top_nav a{
    color: #ffffff;
    font-size: 12px;
}
.top_nav a:hover{
    color: #aaa;
}

.top_bar{
    position: relative;
    display: block;
    width: 320px;
    left: 640px;
    height: 30px;
    top: -30px;
}
.top_bar ul{
    position: relative;
    display: block;
    width: 320px;
    height: 30px;
    left: 0;
}
.top_bar img{
    vertical-align: bottom;
    position: relative;
    left: -2px;
}
.top_bar li{
    color: #ffffff;
    font-size: 12px;
    margin-right: 35px;
}
.top_bar .flag{
    position: relative;
    top: -4px;
    margin-right: 15px;
}

#header{
    position: relative;
    height: 140px;
}
.header_left{
    position: relative;
    width: 240px;
    height: 140px;
}
.bag{
    position: absolute;
    top: 8px;
    width: 85px;
    height: 85px;
}
.check{
    position: absolute;
    left: 85px;
    top: 30px;
    color: #f7f7f7;
    text-align: center;
}
#checkout{
    display: inline-block;
    margin-top: 11px;
    width: 113px;
    line-height: 25px;
    color: #ffc200;
    border: none;
    background: #b20e00;
    border-radius: 13px;
}

.header_center{
    position: relative;
    left: 40px;
    top: -140px;
    display: inline-block;
    width: 830px;
    height: 100px;
    float: left;
}
.header_center .bg_web{
    background-image: url(../imgs/bg2.png);
    position: relative;
    width: 830px;
    height: 100px;
}
.header_center .ecommerce{
    display: block;
    text-align: center;
    font-size: 40px;
    color: #fcfcfc;
}
.header_center .website{
    display: block;
    font-size: 40px;
    text-align: center;
    color: #fcfcfc;
}

.header_right{
    position: relative;
    top: -207px;
    width: 300px;
    height: 40px;
    left: 650px;
}
.header_right .search{
    width: 230px;
    height: 16px;
    padding-left: 20px; 
    padding-top: 7px;
    padding-bottom: 7px;
    color: #666666;
    border: none;
    font-size: 13px;
    background: url(../imgs/search_bg.png) repeat-x;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.header_right .search_button{
    position: relative;
    top: 0px;
    width: 40px;
    height: 31px;
    background: #710c0c;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #faf1b1;
    cursor: pointer;
}

#nav{
    position: relative;
    top: -35px;
}
#nav ul{
    position: absolute;
    display: block;
    left: 10px;
    width: 960px;
    height: 35px;
}
#nav li{
    display: inline-block;
    float: left;
    border-radius: 5px;
    padding: 2px 7px 2px 7px;
    line-height: 30px;
    margin-right: 20px;
}
#nav li:hover{
    background: url(../imgs/nav_bg.png);
}
#nav a{
    color: #ffffff;
}

#main{
    display: block;
    position: relative;
    width: 960px;
    background: #ffffff;
    margin-top: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main_top{
    position: relative;
    width: 942px;
    height: 300px;
    left: 9px;
    top: 9px;
}
.main_top_top{
    position: relative;
    width: 942px;
    height: 248px;
    background: url(../imgs/banner_bg.png) repeat-x;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.main_top_top .festival{
    position: absolute;
    left: 82px;
    top: 25px;
    color: #ffffff;
    font-size: 48px;
}
.main_top_top .sale{
    position: relative;
    top: -33px;
    left: 70px;
}
.main_top_top .wine{
    position: relative;
    left: 180px;
    top: -20px;
}
.main_top_top .brush{
    position: absolute;
    left: 680px;
    top: 10px;
}

.main_top_bottom{
    position: relative;
    width: 942px;
    height: 52px;
    background: rgba(0,0,0,0.75);
}
.main_top_bottom .product{
    position: relative;
    display: inline-block;
    width: 200px;
    left: 20px;
    line-height: 25px;
    font-size: 21px;
    color: #ffc600;
    text-align: center;
    top: 15px;
}
.main_top_bottom .lorem{
    position: relative;
    width: 630px;
    left: 290px;
    top: -15px;
    font-size: 13px;
    color: #fcfcfc;
}

.main_center{
    position: relative;
    margin-top: 30px;
    left: 9px;
    width: 942px;
}

.main_center_left1{
    position: relative;
    width: 207px;
    height: 390px;
    text-align: center;
    border: 1px solid #f3dc94;
    border-radius: 15px;
    background: #ffeeb7;
}
.main_center_left1 dl{
    position: relative;
    width: 207px;
    height: 390px;
    border-radius: 15px;
}
.main_center_left1 dt{
    background: url(../imgs/list_bg.png);
    line-height: 29px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 15px;
    color: #ffffff;
}
.main_center_left1 dd{
    display: block;
    position: relative;
    left: 3px;
    line-height: 29px;
    border-bottom: 1px solid #ffffff;
    width: 200px;
    text-align: left;
    font-size: 13px;
}
.main_center_left1 dd a{
    position: relative;
    left: 32px;
    color: #000000;   
}
.main_center_left1 dd a:hover{
    color: #b20e00;
}

.main_center_left2{
    position: relative;
    margin-top: 12px;
    width: 207px;
    height: 330px;
    border: 1px solid #e8e8e3;
    background: #f5f5f2;
    border-radius: 15px;
}
.main_center_left2 .joinspan{
    display: block;
    position: relative;
    top: 12px;
    left: 13px;
    width: 182px;
    font-size: 15px;
    height: 18px;
    text-align: center;
    color: #666666;
}
.main_center_left2 input{
    position: relative;
    top: 20px;
    left: 34px;
}
.main_center_left2 .text_input{
    position: relative;
    left: 15px;
    padding: 0 5px 0 5px;
    width: 166px;
    height: 26px;
    border: none;
}
.main_center_left2 .join{
    position: relative;
    left: 60px;
    top: 28px;
    display: block;
    width: 88px;
    height: 25px;
    background: url(../imgs/join_bg.png);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.main_center_left2 ul{
    position: relative;
    left: 12px;
    top: 45px;
    width: 190px;
    height: 190px;
}
.main_center_left2 li{
    display: inline-block;
    width: 190px;
    height: 46px;
    border-top: 2px solid #fff; 
}
.main_center_left2 li span{
    position: relative;
    left: 20px;
    font-size: 13px;
    display: inline-block;
    width: 116px;
}
.main_center_left2 .twitter{
    position: relative;
    left: 20px;
    top: -10px;
    line-height: 30px;
    font-size: 13px;
    display: inline-block;
    width: 116px;
}
.main_center_left2 .facebook{
    width: 100px;
}
.main_center_left2 .linkedin{
    width: 100px;
}
.main_center_left2 .email{
    width: 100px;
}
.main_center_left2 img{
    position: relative;
    top: 5px;
}

.main_center_left3{
    position: relative;
    top: 27px;
    left: 14px;
}
.main_center_left3 .paypal1{
    position: relative;
    left: -172.5px;
    top: -9px;
}
.main_center_left3 .paypal2{
    position: relative;
    left: -165px;
    top: -9px;
}
.main_center_left3 .paypal3{
    position: relative;
    left: -156px;
    top: -9px;
}
.main_center_left3 .paypal4{
    position: relative;
    left: -148px;
    top: -8px;
}
.main_center_left4{
    position: relative;
    top: 30px;
    left: 14px;
}
.main_center_left4 .google1{
    position: relative;
    left: -175px;
    top: -7px;
}
.main_center_left4 .google2{
    position: relative;
    left: -163px;
    top: -7px;
}
.main_center_left4 .google3{
    position: relative;
    left: -151px;
    top: -7px;
}
.main_center_left4 .google4{
    position: relative;
    left: -139px;
    top: -7px;
}

.main_center_left5{
    position: relative;
    top: 35px;
    left: 55px;
}

.main_center_right1{
    position: absolute;
    width: 705px;
    height: 25px;
    top: 0px;
    left: 240px;
}
.main_center_right1 .sort_by{
    font-size: 13px;
    color: #747474;
}
.main_center_right1 select{
    padding-right: 10px;
    margin-left: 10px;
    border: 1px solid #cccccc;
    margin-right: 5px;
    color: #747474;
}
.main_center_right1 .sort1{
    position: relative;
}
.main_center_right1 .sort2{
    position: relative;
}
.main_center_right1 .sort3{
    position: relative;
}
.main_center_right1 .item{
    position: relative;
    left: 90px;
    font-size: 13px;
    color: #747474;
}
.main_center_right1 .item a{
    color: #747474;
}
.main_center_right1 .item a:hover{
    color: #b20e00;
}

.main_center_right2{
    position: absolute;
    left: 240px;
    top: 45px;
    font-size: 17px;
    color: #666666;}

.main_center_right3{
    position: absolute;
    top: 20px;
    top: 80px;
    left: 240px;
    width: 715px;
    height: 615px;
    border-bottom: 1px solid #cdcdcd;
}
.main_center_right3 ul{
    position: relative;
}
.main_center_right3 li{
    float: left;
}
.main_center_right3 .production{
    width: 156px;
    height: 156px;
    margin-right: 22px;
    margin-bottom: 45px;
}
.main_center_right3 .product_name{
    position: relative;
    display: block;
}
.main_center_right3 .product_name a{
    color: #666666;
}
.main_center_right3 .price\:{
    color: #000000;
    font-size: 16px;
}
.main_center_right3 .real_price{
    color: #b20e00;
}
.main_center_right3 .num,.next,.last{
    position: relative;
    left: 220px;
    top: -15px;
}
.main_center_right3 .num{
    display: inline-block;
    width: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    color: #b20e00;
}
.main_center_right3 .num:hover{
    background: #b20e00;
    color: #ffffff;
}
.main_center_right3 .next{
    display: inline-block;
    width: 48px;
    line-height: 20px;
    color: #b20e00;
    margin-left: 10px;
    margin-right: 10px;
}
.main_center_right3 .last{
    display: inline-block;
    width: 54px;
    line-height: 20px;
    color: #b20e00;
}

.main_center_right4{
    position: absolute;
    left: 250px;
    top: 720px;
    width: 188px;
}
.main_center_right4 .featured{
    position: relative;
    display: block;
    width: 188px;
    font-size: 16px;
    color: #666666;
}

.main_center_right5{
    position: absolute;
    width: 690px;
    height: 180px;
    top: 760px;
    left: 250px;
    border: 1px solid #cdcdcd;
    border-radius: 15px;
}
.main_center_right5 .f_product_list{
    position: relative;
    width: 690px;
}
.main_center_right5 .f_product{
    position: relative;
    display: inline-block;
    width: 145px;
    height: 145px;
    float: left;
    margin: 24px 28px 12px 50px;
}
.main_center_right5 .f_product img{
    margin-bottom: 8px;
}
.main_center_right5 .f_product span{
    position: relative;
    display: block;
    width: 145px;
    font-size: 13px;
    text-align: center;
    color: #660000;
}
.main_center_right5 .botton_left{
    position: relative;
    display: block;
    width: 40px;
    height: 45px;
    top: -110px;
    left: -10px;
}
.main_center_right5 .botton_right{
    position: relative;
    display: block;
    width: 40px;
    height: 45px;
    left: 660px;
    top: -110px;
}

.main_footer{
    position: relative;
    top: 65px;
    color: #cbcbcb;
}
.main_footer img{
    vertical-align: top;
}
.main_footer span{
    position: relative;
    top: 12px;
    font-size: 13px;
    margin-right: 20px;
}
.main_footer .parcel{
    position: relative;
    top: 5px;
}
.main_footer .search2{
    position: relative;
    display: inline-block;
    width: 300px;
    left: 100px;
    top: 10px;
}
.search{
    width: 230px;
    height: 16px;
    padding-left: 20px; 
    padding-top: 7px;
    padding-bottom: 7px;
    color: #666666;
    border: none;
    font-size: 13px;
    background: url(../imgs/search_bg.png) repeat-x;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search_button{
    position: relative;
    top: 0;
    width: 40px;
    height: 31px;
    background: #710c0c;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #faf1b1;
    cursor: pointer;
}

#footer{
    position: relative;
    width: 960px;
    top: 90px;
    color: #ffffff;
}
.footer_list1,.footer_list2,.footer_list3,.footer_list4,.footer_list5{
    position: relative;
    float: left;
    margin-right: 66px;
    font-size: 13px;
    padding-bottom: 20px;
}
.footer_list1 a,.footer_list2 a,.footer_list3 a,.footer_list4 a{
    color: #ffffff;
}

.footer_list1{
    left: 10px;
    width: 100px;
}
.footer_list1 dt{
    margin-bottom: 20px;
}
.footer_list1 dd{
    font-size: 12px;
    margin-bottom: 2px;
}

.footer_list2{
    left: 10px;
    width: 155px;
}
.footer_list2 dt{
    margin-bottom: 20px;
}
.footer_list2 dd{
    font-size: 12px;
    margin-bottom: 2px;
}

.footer_list3{
    left: 10px;
    width: 135px;
}
.footer_list3 dt{
    margin-bottom: 20px;
}
.footer_list3 dd{
    font-size: 12px;
    margin-bottom: 2px;
}

.footer_list4{
    left: 10px;
    width: 135px;
}
.footer_list4 dt{
    margin-bottom: 20px;
}
.footer_list4 dd{
    font-size: 12px;
    margin-bottom: 2px;
}

.footer_list5{
    margin-right: 0px;
    left: 10px;
    width: 170px;
}
.footer_list5 dt{
    margin-bottom: 20px;
}
.footer_list5 dd{
    font-size: 12px;
    margin-bottom: 2px;
}
.footer_list5 a{
    color: #ffcc00;
}
