body{ padding: 0; margin: 0; }

ul{padding: 0; margin: 0;}

li{list-style: none;}

.all{ display: flex; flex: row wrap; justify-content: space-around; align-items : center; }
.red1{ width: 150px; height: 120px;  padding: 20px; border: 1px solid #f00;  }
.red2{ width: 150px; height: 100px;  padding: 20px; border: 1px solid #f00;}
.red3{ width: 150px; height: 40px;  padding: 20px; border: 1px solid #f00;}
.blue4{ width: 150px; height: 200px;  padding: 20px; border: 1px solid #0f0;}